<h2>Recent map annotations</h2>
<div id="annotations">
<% @notes.each do |note| %>
	<p class="">
		<a href="/profile/<%= note.author %>"><%= note.author %></a> said:</b> <%= note.description %> | <a href="/map/region/?minlon=<%= note.lon-0.1 %>&minlat=<%= note.lat-0.1 %>&maxlon=<%= note.lon+0.1 %>&maxlat=<%= note.lat+0.1 %>">See nearby maps &raquo;</a>
	</p>
<% end %>
<br style="clear:both;" />
<%= will_paginate @notes %>
</div>

