<h1>Log In</h1>

<p><i>Use your <a href="http://publiclab.org">PublicLab.org</a> username to log in. If you do not yet have one, sign up there first!</i></p>

<p><b>Note: the old PublicLaboratory.org site is being retired. You must sign up on the new PublicLab.org website and create a password there.</b></p>

<p><i>To associate your maps with your new account, please email <a href="mailto:web@publiclab.org">web@publiclab.org</a></i></p>

<% form_tag session_path do -%>
<p><label for="login">Username</label>
<%= text_field_tag 'login', @login %></p>

<input type="hidden" name="return_to" value="<%= params[:return_to] %>" />

<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
