<script>warpablesUrl = "<%= url_for [@map, :warpables] %>";</script>
<table class="warpables-all table table-striped">
	<tbody>
		<% @map.warpables.each do |warpable| %>
			<tr>
				<td class="warpable">
					<%= image_tag warpable.public_filename(:thumb), 
							:'data-warpable-id' => warpable.id,
							:'data-map-id' => @map.id
					%>
				</td>
				<td><%= link_to(warpable.filename, [@map, warpable]) %></td>
				<td><%= number_to_human_size warpable.size %></td>
				<% if logged_in? && current_user.can_delete?(warpable) %>
					<td>
						<%= link_to "&times;", [@map, warpable], :method => "delete", :class => "btn btn-danger" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>