<table class="warpables-all table table-striped">
	<tbody>
		<% @map.warpables.each do |warpable| %>
			<tr id="warpable-<%= warpable.id %>">
				<td class="warpable">
					<%= image_tag warpable.image.url(:thumb), 
							:'data-warpable-id' => warpable.id,
							:'data-map-id' => @map.id
					%>
				</td>
				<td><%= link_to(warpable.image_file_name, warpable.image.url) %></td>
				<td><%= number_to_human_size warpable.image_file_size %></td>
				<% if logged_in? && current_user.can_delete?(warpable) %>
					<td>
						<%= link_to "<i class='fa fa-remove'></i>".html_safe, [@map, warpable], :method => "delete", :class => "btn btn-danger" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
