<div id="c<%= comment.id %>" class="comment" data-comment-id="<%= comment.id %>">
  <div class="comment-header">
    <div class="row">
      <div class="col-6">
        <a href="//publiclab.org/profile/<%= comment.author %>"><%= comment.author %></a>
        commented <%= time_ago_in_words(comment.created_at) %> ago
      </div>

      <div class="col-6">
        <% if current_user && current_user.can_edit?(comment) %>
          <a class="btn btn-sm btn-outline-secondary float-right edit-comment-btn"><span class="fa fa-pencil" data-comment-id="<%= comment.id %>"></span></a>
        <% end %>

        <% if current_user && current_user.can_delete?(comment) %>
          <%= link_to(
            [@map, comment],
            :method => "delete",
            #:remote => true,
            :confirm => "Are you sure? This cannot be undone.",
            :class => "btn btn-sm btn-outline-secondary float-right delete-comment-btn",
            :id => "comment-delete-#{comment.id}"
          ) do %>

            <span class="fa fa-trash" data-comment-id="<%= comment.id %>"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div><!-- .comment-header -->
  <div class="comment-body" data-comment-id="<%= comment.id %>"><%=raw markdown_to_html(comment.body) %></div><!-- .comment-body -->
  <div class="comment-edit-form" data-comment-id="<%= comment.id %>" style="display:none">
    <%= form_for([@map, comment]) do |f| %>
      <%= f.text_area :body, :class => "form-control" %>
      <%= f.submit "Publish", :class => "btn btn-primary" %>
      <button type="button" class="btn btn-primary" onClick="$('.comment-edit-form').hide()">Cancel</button>
    <% end %>
  </div><!-- .comment-edit-form -->
</div><!-- .comment -->
