<label for="tags">Tags</label>
<p><span id="tags">
	<% @map.tags.each do |tag| %>
		<span id="tag_<%= tag.id %>" class="label label-info">
			<a href="/tag/<%= tag.name %>">
				<%= tag.name %>
			</a>
			<a class="tagdelete" data-remote="true" href="/tag/delete/<%= @map.id %>/<%= tag.id %>"><span class="glyphicon glyphicon-remove"></span></a>
		</span>
	<% end %>
</span></p>
<div class="input-group">
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-tags"></span>
	</span>
	<input class="form-control" type="text" placeholder="Enter tags" name="tags"></input>
</div>