<%= form_for @map, :html => { :class => "edit-map" } do |f| %>

  <div class="form-group">
    <%= f.label :name, "Title" %>
    <%= f.field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location, "Location <small>begin typing to search by name</small>".html_safe %>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <%= f.text_field :location, :class => "form-control" %>
    </div>
  </div>

  <table class="form-group">
    <tbody>
      <tr><td style="padding-right:6px;">
        <%= f.label :latitude %>
        <%= f.text_field :lat, :class => "form-control" %>
      </td>
      <td>
        <%= f.label :longitude %>
        <%= f.text_field :lon, :class => "form-control" %>
      </td></tr>
    </tbody>
  </table>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Add links or explanatory images or videos to your map here.", :class => "form-control" %>
  </div>

  <% if logged_in? && @map.user_id == current_user.id %>
  <div class="form-group">
    <label for="license">License - <a target="_blank" href="http://publiclab.org/licenses">Learn more</a></label>
    <select class="form-control" id="map_license" tabindex="15" name="map[license]" type="text">
      <option value="copyright"    <%= "selected" if @map.license == 'copyright' %>>None (copyright)</option>
      <option value="cc-by-sa"     <%= "selected" if @map.license == 'cc-by-sa' %>>CC-BY-SA</option>
      <option value="cc-by"        <%= "selected" if @map.license == 'cc-by' %>>CC-BY</option>
      <option value="publicdomain" <%= "selected" if @map.license == 'publicdomain' %>>Public Domain</option>
    </select>
  </div>
  <% end %>

  <%= f.submit "Save", :class => "btn btn-primary btn-lg" %>
<% end %>
<script><%= render :partial => 'maps/geocoder', :formats => [:js] %></script>
