<div class="sidebar-header navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner hidden-print">
        <a class="navbar-brand" id="brand" href="/"><strong>MapKnitter</strong></a>
        <a class="navbar-brand" id="brand-compact" href="/">MK</a>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Getting Started</a></li>
                    <li><a>About Balloon Mapping</a></li>
                    <li><a>Getting Help</a></li>
                    <li><a>Cartography Collective</a></li>
                </ul>
            </li>     
        </ul>

        <ul class="nav navbar-nav navbar-right ">
            <li> 
            <% if logged_in? %>
                <a href="//publiclab.org/profile/<%= current_user.login %>"><span class="glyphicon glyphicon-user"></span> <%= current_user.login %></a>
            <% else %>
                <% form_tag(session_path, {:class => "form"}) do -%>

                <%= text_field_tag 'login', @login, {:placeholder => "username"} %>
                <br />
                <input type="hidden" name="return_to" value="<%= params[:return_to] %>" />

                <%= submit_tag 'Log in', {:class => "btn btn-primary btn-large"} %>
                 &nbsp; <%= check_box_tag 'remember_me', '1', @remember_me %><%= label_tag 'remember_me', 'Remember me', {:class => "checkbox inline", :style => "padding-left:5px;"} %>

                <% end %>
            <% end %>
            </li> 
        </ul>        
    </div><!-- .navbar-inner -->
</div><!-- #header -->