<div class="card col-3">
  <% if map.warpables.length > 0 %>
    <img class="card-img-top" src="<%= map.warpables.first.image.url(:small) %>" alt="Map image">
  <% else %>
    <div style="width:100%;background:#eee;height:170px;"></div>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <a href="/maps/<%= map.slug %>">
        <%= map.name.capitalize %>
      </a>
    </h5>
    <p class="card-text">
      <small>
        <% if map.user %>
          by <a href="/profile/<%= map.user.login %>"><%= map.user.login %></a>
        <% else %>
          anonymous
        <% end %>
        | <%= map.location %>
      </small>
      <small>
        <% if map.archived %>
          <i>Archived</i> |
        <% end %>
        <% if logged_in? && current_user.can_delete?(map) %>
          <a href="/map/archive/<%= map.slug %>" class="card-link">Archive/Spam</a>
        <% end %>
      </small>
      <small>
        Updated <%= map.updated_at.to_s(:short) %>
        <a href="mailto:moderators@publiclab.org?subject=Reporting+spam+on+MapKnitter&body=Hi,+I+found+this+map+that+looks+like+spam+or+needs+to+be+moderated:++http://mapknitter.org/maps/<%= map.slug %>
        <% if map.user %>+by+http://mapknitter.org/profile/
          <%= map.user.login %>
        <% end %>+Thanks!" class="card-link">
          Flag as Spam
        </a>
      </small>
    </p>
  </div>
</div>