<div>
	<%= markdown_to_html(@map.description) %>
</div>

<p>
	<span class="map-detail-label">Location</span>
	<%= @map.location %>
</p>


<table>
	<tr><td><span class="map-detail-label">Latitude </span><%= @map.lat %></td><td><span class="map-detail-label">Longitude </span><%= @map.lon %></td></tr>
</table>

<!-- Map tags -->
<%= render :partial => "tags/index" %>

<%= javascript_include_tag 'tags' %>

