<!-- Map location -->
<b>Location</b>
<p><%= @map.location %></p>

<table>
	<tr><td><b>Latitude</b></td><td><b>Longitude</b></td></tr>
	<tr><td><%= @map.lat %></td><td><%= @map.lon %></td></tr>
</table>

<b>Description
</b>
<div>
	<%= markdown_to_html(@map.description) %>
</div>

<!-- Map tags -->
<%= render :partial => "tags/index" %>

<%= javascript_include_tag 'tags' %>

