<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <% if logged_in? %>
      <a class="btn btn-lg btn-primary create-map" href="<%= new_map_url %>">
        <i class="fa fa-plus-circle"></i> Create a map
      </a>
      <% else %>
      <p><a class="btn btn-lg btn-default disabled create-map" href="#">
        <i class="fa fa-plus-circle"></i> Create a map
      </a></p>
      <p><a href="#" onClick="$('.mini-login').toggle()">Log in</a> to create a map, or if you have privacy concerns, you may <a onClick="$('.hidden-map-btn').show()">create a map anonymously.</a></p>
      <hr />

      <div class="well mini-login" style="display:none;">
        <%= render :partial => "layouts/login_form" %>
      </div>

      <div class="hidden-map-btn" style="display:none;">
        <p>
          Please consider <a href="#" onClick="$('.mini-login').toggle()">logging in</a>; anonymous maps are intended for those with privacy concerns and may lack some features.<br />
        </p>
        <p>
          <a class="btn btn-lg btn-primary create-map" href="<%= new_map_url %>">
            <i class="fa fa-plus-circle"></i> Create an anonymous map
          </a>
        </p>
      </div>
      <% end %>

      <div>
        <br />
        <%= render :partial => "maps/search" %>
        <br />
      </div>

      <iframe style="margin-top:10px;border:none;width:100%;height:180px;" src="https://publiclab.org/features/embed/mapknitter-sidebar"></iframe>

      <div class="hidden-xs hidden-sm">
        <%= render 'map/regions' %>
        <%= render 'map/authors' %>
        <%= render :partial => 'maps/statistics' %>
      </div>
    </div><!-- .col-md-3 -->
    <div class="maps-list col-md-9">

      <div class="hero">
        <h1 style="margin-top:4px;">Make maps from aerial photos</h1>
        <p>
          <a class="btn btn-lg btn-primary" href="http://publiclab.org/wiki/mapknitter"><i class="fa fa-book"></i> Learn how</a>
          <a class="btn btn-lg btn-success" onClick="$('#video-tutorial').toggle()"><i class="fa fa-video-camera"></i> Watch tutorial video</a>
          <a class="btn btn-primary" href="/post?tags=mapknitter,aerial-imaging,aerial-photography,question:mapknitter,question:aerial-imaging,question:aerial-photography&template=question">Ask a question</a>
        </p>
      </div>

      <div style="display:none;" id="video-tutorial">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/0h6MBH6f2js?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <hr />
      <div class="alert alert-success"><b>Welcome to the new MapKnitter 2.0!</b> <a href="http://publiclab.org/notes/warren/02-13-2015/announcing-mapknitter-2-0">Click here</a> to learn more about the new features, and get involved in development.</div>

      <h2><%= @title ||= "Featured" %> <small> 
        | <a href="/authors">Authors</a>
        <% if params[:controller] == "tags" %>
        | <a href="/feeds/tag/<%= params[:id] %>">RSS</a>
        <% end %>
      </small></h2>

      <div class="row map-list">
        <% @maps.each_with_index do |map,i| %>
        <%= render :partial => 'maps/list', :locals => {:map => map} %>
        <% end %>
      </div>
      <br style="clear:both;" />
      <%= will_paginate @maps, renderer: BootstrapPagination::Rails unless @unpaginated %> 
    </div><!-- .col-md-9 -->
  </div><!-- .row -->
</div>
