<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <% if logged_in? %>
      <a class="btn btn-lg btn-primary create-map" href="<%= new_map_url %>">
        <i class="fa fa-plus-circle"></i> Create a map
      </a>
      <% else %>
      <a class="btn btn-lg btn-default disabled create-map" href="#">
        <i class="fa fa-plus-circle"></i> Create a map
      </a>
      <p><a href="#" onClick="$('.mini-login').toggle()">Log in</a> to create a map, or if you have privacy concerns, you may <a onClick="$('.hidden-map-btn').show()">create a map anonymously.</a></p>
      <hr />

      <div class="well mini-login" style="display:none;">
        <%= render :partial => "layouts/login_form" %>
      </div>

      <div class="hidden-map-btn" style="display:none;">
        <p>
          Please consider <a href="#" onClick="$('.mini-login').toggle()">logging in</a>; anonymous maps are intended for those with privacy concerns and may lack some features.<br />
        </p>
        <p>
          <a class="btn btn-lg btn-primary create-map" href="<%= new_map_url %>">
            <i class="fa fa-plus-circle"></i> Create an anonymous map
          </a>
        </p>
      </div>
      <% end %>

      <div>
        <br />
        <%= render :partial => "maps/search" %>
        <br />
      </div>

      <a href="http://store.publiclab.org/products/balloon-mapping-kit">
        <img src="/images/balloon-kit.jpg" />
      </a>
      <div class="hidden-xs hidden-sm">
        <%= render 'map/regions' %>
        <%= render 'map/authors' %>
        <%= render :partial => 'maps/statistics' %>
      </div>
    </div><!-- .col-md-3 -->
    <div class="maps-list col-md-9">

      <div>
        <h1>Make maps from aerial photos <small><a href="http://publiclab.org/wiki/mapknitter">Learn how &raquo;</a></small></h1>
      </div>
      <hr />

      <h2><%= @title ||= "Featured" %> <small> | <a href="/recent">Recent maps</a></small></h2>

      <div class="row map-list">
        <% @maps.each_with_index do |map,i| %>
        <div class="map col-md-3 col-xs-6">
          <a href="/map/<%= map.slug %>">
            <% if !map.private && map.warpables.length > 0 %>
              <img src="<%= map.warpables.first.image.url(:small) %>" />
            <% else %>
              <div style="width:100%;background:#eee;height:170px;"></div>
            <% end %>
          </a>
          <h3><a href="/map/<%= map.slug %>"><%= map.name.capitalize %></a></h3>
          <p><small>
            <% if map.user %>
              by <a href="/profile/<%= map.user.login %>"><%= map.user.login %></a>
            <% else %>
              anonymous
            <% end %>
            | <%= map.location %>
          </small></p>
          <p class="map map-meta">
            <small>
              <% if map.archived %><i>Archived</i> | <% end %>
              <% if params[:password] && params[:password] == APP_CONFIG["password"] %><a href="/map/archive/<%= map.slug %>?password=<%= APP_CONFIG["password"] %>">Archive/Spam</a> | <% end %>
              Updated <%= map.updated_at.to_s(:short) %> |
              <%= map.warpables.length %> images
            </small>
          </p>
        </div>
        <% end %>
      </div>
      <br style="clear:both;" />
      <%= will_paginate @maps, renderer: BootstrapPagination::Rails unless @unpaginated %> 
    </div><!-- .col-md-9 -->
  </div><!-- .row -->
</div>
