<% content_for :title do %>
	<div class="sidebar-title new-map">
		<h3>Create a new map</h3>
		<p>Pan and zoom to locate your site, then give your map a title, location, and description.</p>			
	</div>
<% end %>

<%= form_for @map, :html => { :class => "new-map" } do |f| %>
	<div class="sidebar-content">
		<div class="form-group">
			<%= f.label :name, "Title", :class => "h4" %>	
			<%= f.text_field :name, :class => "form-control" %>					
		</div>
		<p><small>Good map titles are short and communicate clearly the subject of the map.  For example: 
			<ul class="map-title-examples">
				<li>"Infragram map of goat brush clearing"</li>
				<li>"Construction near BART"</li>
			</ul>
		</small></p>		
		<hr/>

		<table class="form-group">
			<tbody>
				<tr><td>
			<%= f.label :location, "Location <small>Click search to zoom to a place</small>".html_safe %>
				</td></tr>
				<tr><td style="padding-right:6px;">
					<%= f.text_field :location, :class => "form-control" %>
				</td>
				<td>
				<a class="btn btn-primary"><i class="fa fa-search"></i></a>
				</td></tr>
			</tbody>
		</table>

		<table class="form-group">
			<tbody>
				<tr><td style="padding-right:6px;">
					<%= f.label :lat %>
					<%= f.text_field :lat, :class => "form-control" %>
				</td>
				<td>
					<%= f.label :lon %>
					<%= f.text_field :lon, :class => "form-control" %>
				</td></tr>
			</tbody>
		</table>

		<!-- Map description -->
		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description, :placeholder => "Enter plain text or **Markdown** here.", :class => "form-control" %>
		</div>
		<p>Use the description to add links or explanatory images or videos to your map.</p>

		<%= f.submit "Create map", :class => "btn btn-primary" %>	
	</div><!-- .new-map-form -->
<% end %>
