<% content_for :title do %>
	<input id="map-name" class="form-control" name="map-name" placeholder="New Map"/>
<% end %>

<!-- Map location -->
<% form_for @map do |m| %>
	<div class="form-group">
		<%= m.label :location %>
		<%= m.text_field :location, :class => "form-control", :placeholder => "Location" %>
	</div>

	<div id="latlngs">
		<!-- Map latitude -->
		<div class="form-group">
			<%= m.label :lat %>:
			<%= m.text_field :lat, :class => "form-control" %>
		</div>

		<!-- Map longitude -->
		<div class="form-group">
			<%= m.label :lon %>
			<%= m.text_field :lon, :class => "form-control" %>
		</div>
	</div>

	<!-- Map description -->
	<div class="form-group">
		<%= m.label :description %>
		<%= m.text_area :description, :placeholder => "Type **Markdown** here.", :class => "form-control" %>
	</div>

	<%= render :partial => 'tags/index' %>
	
	<%= m.submit "Create map", :class => "btn btn-primary" %>
<% end %><!-- End form -->