<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>

<%= javascript_include_tag 'maps' %>
<%= javascript_include_tag '//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAxlBXzYwdeaOMKZgx_UNBp2qBtdD0L_9g" %>
<%= javascript_include_tag 'https://unpkg.com/leaflet.gridlayer.googlemutant@0.7.0/Leaflet.GoogleMutant.js' %>
<%= javascript_include_tag '/lib/image-sequencer/dist/image-sequencer.js' %>

<div class= "row" id="knitter-map-pane" style="height: 450px; width: 100%;  margin-bottom: 1%; z-index: 5; float: none; max-width: none;"> </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-info btn-sm" onClick="$('.share-link').toggle()" style="margin-left: 1%;">Embed code</button>
            <div class="share-link" style="display:none;">
                <%= render :partial => 'maps/share' %>
            </div>
        </div>
        <div class="col-md-6">
            <a href="/maps/edit/<%= @map.slug %>">
                <button class="btn btn-primary float-right">
                    <span class="fas fa-pencil-alt"> </span> Edit this map
                </button>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center lead-text">
        <p class="text-muted">A Community Atlas of </p>
        <h2><%= @map.location %> </h2>
        <p> by <%= link_to "@#{@map.author}", "/profile/#{@map.author}" unless @map.author == 'anonymous' %> </p>
    </div>
    <div class="row text-center">
        <div class="col-md-4 offset-md-4 text-block">
            <img class="mx-auto d-block" style="max-height: 75px; max-width: 75px;" src="<%= asset_path('balloon1.png') %>">
            <h3>Make your own map </h3>
            <p>Use a kite, balloon, pole or drone to take an aerial photo and tell your own visual story of the place </p>
            <br> <br>
            <p>
            <a class="btn btn-primary btn-lg" href= 'https://store.publiclab.org/collections/mapping-kits'>
                Get a mapping kit<i class="fa fa-angle-double-right fa-fw" style="font-size:18px;color:white;"></i>
            </a>
            <a class="btn btn-primary btn-lg" href="<%= new_map_url %>">
                Add a new map <i class="fa fa-plus fa-fw" style="font-size:12px;color:white;"></i>
            </a>
            </p>

        </div>
    </div>
</div>
  <br><br>
  <div class="all-maps light-blue">
      <br>
      <h3 class="text-center"> Nearby Maps </h3>
      <hr style="max-width: 500px;">
      <br>
      <%= render :partial => 'front_ui/maps', :locals => { :maps => @maps } %>
  </div>
  <br><br>

  <div class="container">
      <div class="card-deck mb-6  text-center mx-auto">
          <div class="card mapping-kits">
              <img class="card-img-top img-draw mx-auto" src="<%= asset_path('quiz.png') %>" alt="questions">
              <div class="card-body">
                  <h5 class="card-title">Ask a question</h5>
                  <p class="card-text item-description">
                  <a href="https://publiclab.org/questions" target="blank">Search </a>through questions or Ask a question to get help from others and share ideas with the PublicLab Community hence helping you in your environmental exploration
                  </p>
                  <a href="https://publiclab.org/questions/new?tags=lat:<%= @map.lat %>,lon:<%= @map.lon %>&body=Question posted from map at https://mapknitter.org/m/<%= @map.slug %>" target="blank">
                      <button class="btn btn-lg btn-primary">
                          Ask a Question
                      </button>
                  </a>
              </div>
          </div>
          <div class="card mapping-kits">
              <img class="card-img-top img-draw  mx-auto" src="<%= asset_path('binoculars.png') %>" alt="binoculars">
              <div class="card-body">
                  <h5 class="card-title">Projects/ Requests for observations</h5>
                  <p class="card-text item-description">
                  Community observations and monitoring are a key source of environmental data. Help add to one of the projects <a href='https://publiclab.org/wiki/projects'>here</a>. Read more or post your own call for input
                  </p>
                  <a href="https://publiclab.org/post?tags=lat:<%= @map.lat %>,lon:<%= @map.lon %>&body=Question posted from map at https://mapknitter.org/m/<%= @map.slug %>" target="blank">
                      <button class="btn btn-lg btn-outline-secondary">
                          Post an Observation
                      </button>
                  </a>
              </div>
          </div>
      </div>
  </div>

 <script>
    var map
    (function(){
      window.mapKnitter = new MapKnitter.Map({
        latlng:     L.latLng(<%= @map.lat %>, <%= @map.lon %>),
        zoom:       <%= @map.zoom %>,
        readOnly:   true,
        logged_in:   <%= logged_in? == true %>,
        anonymous:   <%= @map.anonymous? == true %>,
        warpablesUrl:   "<%= url_for([@map, :warpables])+'.json' unless @map.warpables.empty? %>"
      });
      <% if @map.warpables.empty? && params[:action] == "show" %>
        $('.modal-welcome').modal()
      <% end %>
     })();
  </script>
