<% content_for :title do %>
  <div class="pull-right dropdown">
    <a href="#" data-toggle="dropdown">
      <span class="fa fa-cog"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <% if logged_in? && current_user.can_delete?(@map) %>
        <li><%= link_to 'Delete', map_path(@map), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %></li>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-title">
    <h3><%= @map.name %></h3>
  </div>
  <div class="map-author">
    <% if @map.user %>
      by <a href="//publiclab.org/profile/<%= @map.user.login %>"><%= @map.user.login %></a>
    <% else %>
      anonymous
    <% end %>
    | <a href="/maps/<%= @map.slug %>?legacy=true">Legacy editor</a>
  </div>  
<% end %>

<% content_for :details do %>
  <div>
    <%=raw markdown_to_html(@map.description) unless @map.description.nil? %>
  </div>

  <p>
    <span class="map-detail-label">Location</span>
    <a href="https://www.openstreetmap.org/#map=<%= @map.zoom %>/<%= @map.lat %>/<%= @map.lon %>"><%= @map.location %></a>
  </p>

  <table>
    <tr><td><span class="map-detail-label">Latitude </span><%= @map.lat %></td><td><span class="map-detail-label">Longitude </span><%= @map.lon %></td></tr>
  </table>

  <p>
    <span class="map-detail-label">License (<a target="_blank" href="http://publiclab.org/licenses">Learn more</a>):</span>
    <a href="/maps/license/<%= @map.license %>"><%= @map.license %></a> 
  </p>

  <hr />
  <p>
    <% if logged_in? %>
    <a onClick="$('#map-edit-container').toggle()" class="btn btn btn-default">Edit details</a> 
    <% end %>
    <a onClick="$('.share-link').toggle()" class="btn btn btn-default"><i class="fa fa-code"></i> Embed code</a> 
    <div class="share-link" style="display:none;">
      <%= render :partial => 'maps/share' %>
    </div>
    <a rel="tooltip" title="Preview with NDVI" onClick="ImageSequencer().replaceImage('.leaflet-image-layer',['ndvi','colormap'])" class="btn btn btn-default"><i class="fa fa-adjust"></i> NDVI (beta)</a> 
    <a rel="tooltip" title="Custom image processing" onClick="ImageSequencer().replaceImage('.leaflet-image-layer',prompt('Enter an ImageSequencer code', 'invert,ndvi,colormap').split(','))" class="btn btn btn-default"><i class="fa fa-code"></i></a> 
    <a href="https://publiclab.org/image-sequencer#NDVI">Learn more</a>
  </p>

  <div style="display:none;" id="map-edit-container">
    <%= render :partial => 'maps/edit' %>
  </div>

  <hr />
  <div class="tags">
    <%= render :partial => "tags/index" %>
  </div>

  <hr />

  <div class="comments">
    <%= render :partial => "comments/index" %>
    <hr />
    <%= render :partial => "comments/new" %>
  </div>

  <%= javascript_include_tag 'tags' %>
<% end %>

<% content_for :images do %>
  <%= render :partial => "/images/index" %>
<% end %>
