<div class="container-fluid">
  <h2>Authors (<%= User.count :all %>)</h2>

  <table class="table">
    <tr>
      <th><%= sortable "user_id", "Username" %></th>
      <th><%= sortable "maps_count", "Count" %></th>
      <th><%= sortable "created_at", "Joined" %></th>
      <th><%= sortable "updated_at", "Last active" %></th>
      <th><%= sortable "maps_count", "Comments" %></th>
      <th><%= sortable "role" %></th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><a href="/profile/<%= user.login %>"><%= user.login %></a></td>
      <td><%= user.maps.length %> maps</td>
      <td><%= user.created_at.to_s(:long) %></td>
      <td><%= time_ago_in_words(user.last_action) %> ago</td>
      <td><%= user.comments.length %></td>
      <td><%= user.role %></td>
    </tr>
    <% end %>
  </table>

  <br style="clear:both;" />
  <%= will_paginate @maps, list_classes: %w(pagination justify-content-center), previous_label: 'Prev', next_label: 'Next', renderer: WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated %>
</div>
