<div class="container-fluid">
  <h2>Authors (<%= User.count :all %>)</h2>

  <table class="table">
    <tr>
      <th>Username</th>
      <th>Count</th>
      <th>Joined</th>
      <th>Last active</th>
      <th>Comments</th>
      <th>Role</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><a href="/profile/<%= user.login %>"><%= user.login %></a></td>
      <td><%= user.maps.length %> maps</td>
      <td><%= user.created_at.to_s(:long) %></td>
      <td><%= time_ago_in_words(user.last_action) %> ago</td>
      <td><%= user.comments.length %></td>
      <td><%= user.role %></td>
    </tr>
    <% end %>
  </table>

  <br style="clear:both;" />
  <%= will_paginate @maps, renderer: BootstrapPagination::Rails unless @unpaginated %>
</div>
