<div class="container">

  <h2>
    <%= @user.login %>
    <% if @user.maps %> (<%= @maps.length %> maps)<% end %>
    <small>
    | <%= @user.role %>
    | <a href="/feeds/author/<%= @user.login %>">RSS</a>
    </small>
  </h2>

  <p><a href="//publiclab.org/profile/<%= @user.login %>">Public Lab profile &raquo;</a></p>

  <hr />

  <div class="row map-list">
    <% @maps.each_with_index do |map,i| %>
      <%= render :partial => 'maps/list', :locals => {:map => map} %>
    <% end %>
  </div>
  <%= will_paginate @maps, list_classes: %w(pagination justify-content-center), previous_label: 'Prev', next_label: 'Next', renderer: WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated %>
</div>
<hr />
