<div class="container">

  <h2><%= @user.login %><% if @user.maps %> (<%= @maps.length %> maps)<% end %> | <small><%= @user.role %></small></h2>

  <p><a href="//publiclab.org/profile/<%= @user.login %>">Public Lab profile &raquo;</a></p>

  <hr />

  <% @maps.each do |map| %>
    <%= render :partial => "maps/list", :locals => {:map => map} %>
  <% end %>

</div>
<hr />
