<div id="main">
  <h2><%= @user.login %><% if @user.maps %> (<%= @maps.length %> maps)<% end %> | <small><%= @user.role %></small></h2>

  <p><a href="http://publiclaboratory.org/people/<%= @user.login %>">Public Lab profile &raquo;</a></p>

  <hr />

  <%= render :partial => 'map/list' %>
  
</div>
<div id ="sidebar">
<%= render :partial => 'map/search' %>
<%= render :partial => 'map/new' %>
<%= render :partial => "map/regions" %>
<%= render :partial => "map/authors" %>
<%= render :partial => "map/new_maps" %>
<p>MapKnitter is <a href="http://github.com/jywarren/mapknitter">open source software</a>. <a href="http://github.com/jywarren/mapknitter/issues">Submit bugs here</a>. MapKnitter uses <a href="http://gdal.org">GDAL</a></p>
</div>
