<div id="main">
	<% if params[:id] %><h2>Maps in "<%= params[:id] %>"</h2><% else %><h2>Maps near <%= params[:minlon][0..12] %>&deg; N,<%= params[:minlon][0..12] %>&deg; W</h2><% end %>	
	
	<%= render :partial => 'map/list' %>
	
</div>
<div id ="sidebar">
<%= render :partial => 'map/search' %>
<%= render :partial => 'map/new' %>
</div>
