<div id="main">
	<% if params[:action] == "license" && params[:id] == "cc-by" %>
	<h2><a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a>-licensed maps</h2>
	<% elsif params[:action] == "license" && params[:id] == "publicdomain" %>
	<h2>Maps released into the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Public Domain</a></h2>
	<% else %>
	<h1>Search results for '<%= params[:id] %>'</h1>
	<% end %>
	<% if @maps.length == 0 %>
	<p><i>No maps found </i></a>
	<% end %>
	<%= render :partial => 'map/list' %>
</div>
<div id="sidebar">
<%= render :partial => "map/search"  %>
<%= render :partial => "map/new" %>
<%= render :partial => "map/regions" %>
<%= render :partial => "map/authors" %>
<%= render :partial => "map/new_maps" %>
<p>MapKnitter is <a href="http://github.com/jywarren/mapknitter">open source software</a>. <a href="http://github.com/jywarren/mapknitter/issues">Submit bugs here</a>. MapKnitter uses <a href="http://gdal.org">GDAL</a></p>
</div>

