<div class="container-fluid">

  <iframe width="100%" height="300px" style="border:none;" src="https://webchat.oftc.net/?channels=publiclab<% if logged_in? %>&nick=<%= current_user.login %><% end %>"></iframe>

  <h2><%= Export.export_count %> maps currently exporting</h2>

  <hr />
  <div style="color:#888;">
    <p><%= @day %> successfully exported in the past day.</p>
    <p><%= @week %> successfully exported in the past week.</p>
  </div>
  <br />

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Started</th>
      <th>Images</th>
      <th>Resolution</th>
      <th>Status</th>
      <th>Tools</th>
    </tr>
    <% @exports.each do |export| %>
    <tr>
      <td><b><a href="/maps/<%= export.map.slug %>"><%= export.map.name %></a></b></td>
      <td><a href="/profile/<%= export.map.author %>"><%= export.map.author %></a></td>
      <td><%= time_ago_in_words(export.updated_at) %> ago</td>
      <td><%= Warpable.select('id').where(map_id: export.map_id).length %></td>
      <td><%= export.cm_per_pixel %> cm/px</td>
      <td><%= export.status %></td>
      <td>
        <% if logged_in? && current_user.role == "admin" %>
        <a class="btn btn-outline-secondary" href="/export/cancel/<%= export.map_id %>?authenticity_token=<%= form_authenticity_token %>&exports=true">Cancel</a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
