<div class="form-group">
  <%= form_for [@map, Tag.new], :html => { :method => "post" } do |m| %>
    <p>
      <% @map.tags.each do |tag| %>
        <span id="tag_<%= tag.id %>" class="badge badge-light">
          <a href="/tags/<%= tag.name %>" id="tag_<%= tag.id %>"><%= tag.name %></a>
          <%= link_to([@map, tag], :method => "delete") do %>
            <span>&times;</span>
          <% end %>
        </span>
      <% end %>
    </p>
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-tags"></i></button>
      </div>
      <input type="text" class="form-control" placeholder="Enter tags" aria-label="tags" name="tags" id="new-tags">
    </div>
  <% end %>
</div>