<div id="knitter-side-pane" class="container">
	<form>
		<!-- Map title and author -->
		<div class="form-group">
			<input type="text" class="form-control h1" name="map-title" value="<%= @map.name %>"/>
			by <a href="http://publiclab.org/search/<%= @map.author %>"><%= @map.author %></a>.
		</div>

		<!-- Toolbar for uploading and viewing images and exporting the map. -->
		<div class="btn-group btn-group-justified">
			<!-- Upload images -->
			<div class="btn-group">
				<button type"button" class="btn btn-default">
					<span class="glyphicon glyphicon-open"></span>
				</button>
			</div>

			<!-- Export map -->
			<div class="dropdown btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-save"></span>
					<span class="caret"></span>							
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li class="dropdown-header">Export formats</li>
					<li><a href=".">JPG</a></li>
					<li><a href=".">GeoTIFF</a></li>
					<li><a href=".">Tiled Map Service (TMS)</a></li>
					<li><a href=".">OSM-TMS</a></li>
					<li><a href=".">zipped TMS</a></li>
					<li><a href=".">KML (beta)</a></li>
					<li><a href=".">Order a print</a></li>
				</ul>					
			</div>
		</div>

		<div id="sidebar-info">
			<!-- Navigation tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#map-details" role="tab" data-toggle="tab">Details</a></li>
				<li><a href="#map-images" role="tab" data-toggle="tab">Uploaded Images</a></li>
			</ul>

			<!-- Tabbed panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="map-details">
					<%= render :partial => "sidebar_details" %>
				</div>
				<div class="tab-pane" id="map-images">
					<%= render :partial => "sidebar_images" %>
				</div>
			</div>			
		</div>
	</form>
</div>