<div id="main mt-3">
	
  <% @maps.each do |map| %>
    <h3><a href ="/maps/<%= map.name %>"><%= map.name.capitalize %></a>
    <small>
      by "<a href="/author/<%= map.author %>"><%= map.author %></a>"
      <% if map.email != '' %><<a href="mailto:<%= map.email %>"><%= map.email %></a>>,</a></small> <% end %>
    </small>
    </h3>
  <% end %>

</div>
<div id ="sidebar">
<%= render :partial => 'map/search' %>
<%= render :partial => 'map/new' %>
</div>
