<div id="main mt-3">
	<h2>Maps by <%= @maps.first.author %> 
	<small><a style="margin-top:10px;font-size:12px;float:right;" href="/feeds/author/<%= @maps.first.author %>">RSS feed</a></small>
	</h2>
	
	
	<%= render :partial => 'map/list' %>
	
</div>
<div id ="sidebar">
<%= render :partial => 'map/search' %>
<%= render :partial => 'map/new' %>
<%= render :partial => "map/regions" %>
<%= render :partial => "map/authors" %>
<%= render :partial => "map/new_maps" %>
<p>MapKnitter is <a href="https://github.com/publiclab/mapknitter">open source software</a>. <a href="https://github.com/publiclab/mapknitter/issues">Submit bugs here</a>. MapKnitter uses <a href="http://gdal.org">GDAL</a></p>
</div>
