<!doctype html>
<html>
<head>

<%= stylesheet_link_tag     "application"                                         %>
<%= javascript_include_tag  "application"                                         %>

<%= javascript_include_tag  "blueimp-tmpl/js/tmpl.js"                             %>

<%= stylesheet_link_tag     "blueimp-file-upload/css/jquery.fileupload-ui"        %>
<%= javascript_include_tag  "blueimp-file-upload/js/vendor/jquery.ui.widget.js"   %>
<%= javascript_include_tag  "blueimp-file-upload/js/jquery.fileupload"            %>
<%= javascript_include_tag  "blueimp-file-upload/js/jquery.fileupload-ui"         %>

<%# iframe-transport is ajax file upload support for IE, Uncomment if needed %>
<%# javascript_include_tag  (file_upload + "js/jquery.iframe-transport")      %>

<%= javascript_include_tag "gps-exif" %>
<%= javascript_include_tag "uploads" %>

</head>

<body>
<% form_for(:warpable, :url => "/betawarper/#{@map_id}", :html => { :multipart => true,:id => "fileupload" }) do |f| -%>     
  <input id="warpable_map_id" name="map_id" type="hidden" value="<%= @map_id %>" />

  <div class="row">
    <div class="col-lg-6">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success btn-file">
          Add Image <input id="warpable_uploaded_data" name="warpable[uploaded_data]" type="file" />
      </span>
      <div style="float:right;padding-right: 10%;"> <input type="checkbox" id="allowAutoPlacement" > Disable GPS placement </div><br>      
    </div>
  </div>

  <div id="template" style="padding-top:10px;z-index:5;overflow:auto;">
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div><br>

    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  </div>
<% end %><!-- #fileupload -->
  <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
        <td>
    
    
        <div id="spinner" class="spinner">
            <img id="img-spinner" src="/images/spinner.gif" alt="Loading"/>
        </div>
    
        </td>
        <td class="start">{% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary">
            <span>{%=locale.fileupload.start%}</span>
          </button>
          {% } %}</td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
          <button class="btn btn-warning">
            <span>{%=locale.fileupload.cancel%}</span>
          </button>
          {% } %}</td>
      </tr>
      {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
          {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
         <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
    
            <td class="preview">{% if (file.thumbnail_url) { %}
              <a href="#" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
              {% } %}</td>
            <td class="name">
              <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="indicate" colspan="2">
                <span class="label label-indicate" id="GPS_{%=file.id%}" style="display:none;">GPS</span>
            </td>

            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
            {% } %}
        </tr>
    
        {% } %}
    </script>

  </script>
   </div>
   </body>
</html>

