<div class="modal hide fade" id="pointmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Add an annotation</h4>
  </div>
  <div class="modal-body">
    <p>Click to add a labelled point.</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-large">Cancel</a>
    <a data-dismiss="modal" class="btn btn-large btn-primary" onClick="$A.add_point()">Begin</a>
  </div>
</div>
<div class="modal hide fade" id="polymodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Add an annotated polygon</h4>
  </div>
  <div class="modal-body">
    <p>Click to begin adding a labelled polygon. Double-click to finish the polygon.</p>
    <form class="form">
      <label for="color">Polygon color:</label>
      <select id="color">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="purple">Purple</option>
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-large">Cancel</a>
    <a data-dismiss="modal" class="btn btn-large btn-primary" onClick="$A.add_poly()">Begin</a>
  </div>
</div>

<script src="/javascripts/annotation.js" type="text/javascript"></script>
<script>
  (function(){

  <% @map.polygons(0.1).each do |poly| %>
  $A.poly = new L.Polygon([<% Node.find_all_by_way_id(poly.id, :order => "way_order DESC").each_with_index do |note,i| %>[<%= note.lat %>,<%= note.lon %>,<%= note.way_order %>/<%= note.id %>]<%= "," if i != poly.nodes.length-1 %>
<% end %>],{color:"<%= poly.color %>"})
  $A.poly.addTo(map).bindPopup("<%= poly.description %><% if logged_in? && (poly.author == current_user.login || current_user.role == 'admin') %> (<a href='/annotation/delete_poly/<%= poly.id %>?back=/map/view/<%= @map.name %>'>x</a>)<% end %>")
  $A.poly = false
  <% end %>

  $A.initialize({
    map_id: <%= @map.id %>,
    map_name: "<%= @map.name %>"
  })

  })()
</script>

<style>
  #toolbar {
    background:#333;
    padding:4px;
    font-family:lucida grande, sans-serif;
  }
</style>

<div id="toolbar">
<% if logged_in? %>
<a class="btn btn-small btn-inverse"  data-toggle="modal" href="#pointmodal"><i class="icon icon-comment icon-white"></i> Add annotation</a>
<a class="btn btn-small btn-inverse" data-toggle="modal" href="#polymodal"><i class="icon icon-pencil icon-white"></i> Add poly</a>
<% end %>
<a class="btn btn-small btn-inverse" data-toggle="modal" href="#sharemodal"><i class="icon icon-share icon-white"></i> Share</a>
</div>
