<div id="export_options" class="export_panel" style="display:none;">

<% 
hist = @map.images_histogram 
(0..100).each do |i|
 hist[i] = 0 if !hist[i]
end
hist = hist[0..100]
grouphist = @map.grouped_images_histogram((hist.length/15).to_i+1)
resolution = @map.average_cm_per_pixel.to_s[0..4]
%>

<p><small>Slide to select an export resolution:</small></p>
<canvas style="margin:6px;display:inline;" width="400" height="70" id="export_graph"></canvas>
<p style="height:10px;width:400px;margin:6px;margin-top:0;"><small>
<span style="float:left;"><%= hist[0] %> cm/px</span>  <span style="float:right;"><%= hist.length-1 %> cm/px</span>
</small></p>

<div id="resolution_slider">
 <div id="redzone" style="width:<%= 4*(resolution.to_i/2).to_i %>px;height:5px;border-top:2px solid #600;background:#f88;position:absolute;"></div>
 <div id="resolution_slider_handle"></div>
</div>
<script>
  Knitter.resolution_slider = new Control.Slider('resolution_slider_handle','resolution_slider', {
    range: $R(0, 100),
    //values: [1,2,3,4,5,6,7,8,9,10,12,14,16,18,20,24,28,32,36,40,45,50,55,60,70,80,90,100],//$R(0, 200),
    sliderValue: <%= resolution.to_i %>,
    alignX: -200,
    //alignY: -5,
    //handleImage: 'slider_2handle',
    onSlide: function(value) {
      $('map_resolution').value = parseInt(value*100)/100
      if (value*2 > <%= resolution %>) $('map_resolution').setStyle({color: "black"})
      else $('map_resolution').setStyle({color:"red"})
    },
    onChange: function(value) {
      if (value*2 > <%= resolution %>) $('map_resolution').setStyle({color: "black"})
      else $('map_resolution').setStyle({color:"red"})
    }
  });
</script>
<label for="map_resolution">Enter a resolution:</label> 
<input onChange="Knitter.resolution_slider.setValue($('map_resolution').value)" name="resolution" id="map_resolution" type="text" value="<%= resolution %>" />
</p>

<script>
  //http://willarson.com/code/sparklines/sparklines.html
  var opts = {
    'left_padding':0,
    'right_padding':0,
    "background":"#EEEEEE",
    "stroke":"#444444",
    'scale_from_zero':true,
  }
 
  sparkline = new Sparkline('export_graph', [<%= hist.join(',') %>], opts).draw()
 
  function refresh_formats(response) {
    eval(response)
  }
</script>

</div>
