<% unless @export.nil? %>
<% if @export.tms %>
<p>
<a target="_blank" href="/tms/<%= @map.name %>/openlayers.html">OpenLayers viewer</a> <small>(refresh your cache if you don't see an up-to-date version)</small><br />
<a target="_blank" href="/tms/<%= @map.name %>">Tiled Map Service (TMS)</a> (OSM-style <a href="/tms/<%= @map.name %>/alt">TMS here</a>)
<% if @export.zip %><a target="_blank" href="/tms/<%= @map.name %>.zip">zipped TMS</a><% end %>
<br />
<a target="_blank" href="/tms/<%= @map.name %>/doc.kml">KML</a> (beta, may not work)<br />
<a target="_blank" href="http://maps.google.com/maps?q=http://cartagen.org/tms/<%= @map.name %>/doc.kml">Google Maps viewer</a> (beta, low res)<br />
</p>
<% end %>
<% if @export.geotiff %>
<p>
<a href="/export/geotiff/<%= @map.name %>.tif">GeoTIFF</a> (<%= @export.cm_per_pixel %> cm/px, <%= number_to_human_size(@export.size) %>, <%= @export.width %> x <%= @export.height %> px)
</p>
<% end %>
<% if @export.jpg %>
<p>
<a href="/export/jpg/<%= @map.name %>.jpg">JPG</a> (for faster download and printing)
</p>
<% end %>
<% if false#@export.mbtiles %>
<p>
<a href="/export/mbtiles/<%= @map.name %>.mbtiles">mbtiles</a>
</p>
<% end %>
<% end %>
