<div class="modal hide fade" id="sharemodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Share a link or embed this map on your site</h4>
  </div>
  <div class="modal-body">
    <p><a class="btn btn-mini" target="_blank" href="/annotation/embed/<%= @map.name %>">permalink</a> (click for fullscreen)</p>
    <p><b>Embed code:</b><br />
      <textarea id="embedcode"></textarea>
      <p><b>With annotations:</b><br />
        <textarea id="embedcode-annotations"></textarea>
      </p>
    </div>
    <div class="modal-footer">
      <a data-dismiss="modal" class="btn btn-large">Close</a>
    </div>
  </div>
  <div id="leafletmap"></div>
  <style>
    #embedcode, #embedcode-annotations {
      height:100px;
      font-size:10px;
    }
  </style>
  <script src="/lib/leaflet/dist/leaflet.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
  <script src="/lib/leaflet-google/index.js"></script>
  <script>
    $('#embedcode').val('<iframe style="border:none;" width="500" height="375" src="https://mapknitter.org/annotation/embed/<%= @map.name %>"></iframe>')
    $('#embedcode-annotations').val('<iframe style="border:none;" width="500" height="375" src="https://mapknitter.org/annotation/embed/<%= @map.name %>?annotations=true"></iframe>')
    var map
    
    (function() {
    
    	var tms = "/tms/<%= @map.name %>/{z}/{x}/{y}.png"
    	var background_tms = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    	var minZoom = 12
    	var maxZoom = 22
    	var label = "Main"
    	var zoom = <%= @map.zoom %>
    	var google = new L.Google("SATELLITE",{opacity:0.5});
    	var main = L.tileLayer(tms, {minZoom: minZoom, maxZoom: maxZoom, scheme:"tms", tms:true});
    
          // add an OpenStreetMap tile layer
          var osm = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          })
    
    	map = L.map('leafletmap', {
    		crs:L.CRS.EPSG3857,
    		layers: [google,main]
    	});
    	
      var baseMaps = {
    	    "Google Satellite": google,
    	    "OpenStreetMap": osm
    	};
    	var overlayMaps = {
    	    "Overlay": main
    	};
    	var layersControl = L.control.Layers(baseMaps,overlayMaps);
    	
      map.addControl(layersControl);
    	map.setView(L.latLng(<%= @map.lat %>,<%= @map.lon %>), zoom)
    
    })()
  </script>
