<div id="list">
	<% odd = true %>
	<% for map in @maps %>
		<div class="map <%= 'odd' if odd %>">
			<% if !map.private && map.warpables.length > 0 %><a href="/maps/<%= map.name %>"><img src="<%= map.warpables.first.public_filename(:small) %>" /></a><% end %>
			<h3><a href ="/maps/<%= map.name %>"><%= map.name.capitalize %></a> <small>by <a href="/author/<%= map.author %>"><%= map.author %></a></small> </h3>
			<p><small><%= map.location %></small></p>
			<p class="description"><small>
				<%= truncate(map.description,:length =>200) %>
				<% if !map.description %><i>no description</i><% end %>
			</small></p>
			<p class="meta"><small>
				<% if map.archived %><i>Archived</i> | <% end %> 
				<a href="/map/edit/<%= map.name %>">Edit</a> | 
				<% if APP_CONFIG["deletion_active"] && params[:password] && params[:password] == APP_CONFIG["password"] %><a href="/map/delete/<%= map.id %>?password=<%= APP_CONFIG["password"] %>">Delete</a> | <% end %>
				<% if params[:password] && params[:password] == APP_CONFIG["password"] %><a href="/map/archive/<%= map.name %>?password=<%= APP_CONFIG["password"] %>">Archive/Spam</a> | <% end %>
				Updated <%= map.updated_at.to_s(:short) %> | 
				<%= map.warpables.length %> images 
			</small></p>
			<p class="formats">
			<% unless map.export.nil? %>
			<% if map.export.geotiff %>
				<a class="geotiff" href="/export/geotiff/<%= map.name %>.tif">GeoTIFF</a> 
				<br />
				<span class="geotiff_stats"><%= map.export.cm_per_pixel %> cm/px, <%= number_to_human_size(map.export.size) %>, <%= map.export.width %> x <%= map.export.height %> px</span>
			<% end %><br />
			<% if map.export.tms %>
				<a class="tms" target="_blank" href="/tms/<%= map.name %>">TMS</a> <a class="tms-alt" href="/tms/<%= map.name %>/alt">OSM-style</a>
				<a class="openlayers" target="_blank" href="/tms/<%= map.name %>/openlayers.html">OpenLayers</a>
			<% end %>
			<% if map.export.jpg %>
				<a class="jpg" href="/export/jpg/<%= map.name %>.jpg">JPG</a>
			<% end %>
			<% end %>
			</p>
		</div>
		<% odd = !odd %>
	<% end %>
	<br style="clear:both;" />
	<%= will_paginate @maps %>
</div>

