<div class="box" id='new_maps'>
<h3>Recently created</h3>

<ul>
<% for map in Map.new_maps %>
  <li><a href="/maps/<%= map.name %>"><%= map.name %></a> by <a href="/author/<%= map.author %>"><%= map.author %></a> <%= time_ago_in_words(map.created_at) %> ago</li>
<% end %>
</ul>

</div>
