<div class="box" id='regions'>
<h3>Regions</h3>

<ul>
  <li><a href="/map/region/Gulf-Coast?minlon=-98.8&minlat=23.6&maxlon=-79.1&maxlat=31.8">Gulf Coast</a></li>
  <li><a href="/map/region/New-York-New-Jersey?minlon=-74.33&minlat=40.48&maxlon=-73.54&maxlat=41.04">New York/New Jersey</a></li>
</ul>

</div>
<div class="box" id='annotations'>
<h3>Annotations</h3>

<ul>
<% @notes.each do |note| %>
	<li class="">
		<a href="/profile/<%= note.author %>"><%= note.author %></a> said:</b> 
<a href="/map/region/?minlon=<%= note.lon-0.1 %>&minlat=<%= note.lat-0.1 %>&maxlon=<%= note.lon+0.1 %>&maxlat=<%= note.lat+0.1 %>"><%= note.description %></a>
	</li>
<% end %>
  <li><a href="/map/region/Gulf-Coast?minlon=-98.8&minlat=23.6&maxlon=-79.1&maxlat=31.8">Gulf Coast</a></li>
  <li><a href="/map/region/New-York-New-Jersey?minlon=-74.33&minlat=40.48&maxlon=-73.54&maxlat=41.04">New York/New Jersey</a></li>
</ul>

<a href="/annotation/">View all &raquo;</a>
</div>
