<div class="list">
<% @maps.each do |map| %>

        <div class="map">


    <% if !map.private && map.warpables.length > 0 %>
      <a href="/map/view/<%= map.name %>"><img src="<%= map.warpables.first.public_filename(:small) %>" /></a>
    <% end %>
    <h3><a href ="/map/view/<%= map.name %>"><%= map.name.capitalize %></a> <small>by <a href="/author/<%= map.author %>"><%= map.author %></a></small> </h3>
    <div class="text">
      <h3><a href="/map/view/<%= map.name %>"><%=h truncate(map.name,:length => 24) %></a></h3>
      <p><%=h map.author %> | <%= time_ago_in_words(map.created_at) %> ago</p>
      <p>
        <a href="/map/view/<%= map.name %>">View</a> | 
      </p>
  </div>
</div>


<% end %>

</div>
        <hr style="clear:both;"/>
        <br />  
        <a class="button" href="/map/assign/<%= params[:id] %>/?claim=true&<%= params[:author] %>">Assign these spectra to <%= params[:id] %></a>

