<div class="container-fluid">

  <div class="row">

    <div class="span4">
  
      <p><a href="http://store.publiclab.org/products/balloon-mapping-kit"><img src="/images/balloon-kit.jpg" /></a></p>
  
      <%= render :partial => "map/search" %>
      <%= render :partial => "map/new" %>

      <div class="hidden-phone">
        <%= render :partial => "map/regions" %>
        <%= render :partial => "map/authors" %>
        <%= render :partial => "map/new_maps" %>

        <h3>Statistics</h2>
        <% if (Export.count(:all, :conditions => ["cm_per_pixel != ''"]) > 0) %>
          <p>MapKnitter is hosting <b><%= Export.count(:all, :conditions => ["cm_per_pixel != ''"]) %> completed maps</b> of an average resolution of <b><%= Export.average_cm_per_pixel.to_i %> cm per pixel</b>. Images average. Currently exporting <%= Export.export_count %> maps.</p>
          <p><small>Resolutions:</small></p>
          <p><small><b>Maps:</b>
          <br />0 cm/px
          <span class="bar"><%=raw Export.histogram_cm_per_pixel[0..40].join(',') %></span>
          40 cm/px
          </small></p>
          <p><small><b>Images:</b><br />
           0 cm/px
          <span class="bar"><%=raw Warpable.histogram_cm_per_pixel[0..40].join(',') %></span>
          40 cm/px
          </small></p>
          <script>$('.bar').sparkline('html', {type: 'bar', color: '#c44'});</script>
        <% end %>

      </div>
    </div>
  
    <div class="span8">
      <iframe style="background:#ddd;margin-bottom:10px;" width="80%" height="350px" src="http://www.youtube.com/embed/NOikqxIIFBc" frameborder="0" allowfullscreen></iframe>

      <h2>MapKnitter <small>by <a href="http://publiclab.org">Public Lab</a> | Turn images into maps</small></h2>

      <hr />
  
      <h2>Recent Maps <small>(<a href="/feeds/all">RSS</a>)</small></h2>
      <%= render :partial => 'map/list' %>
    </div>

  </div>

</div>
