<!DOCTYPE html>
<html>
<head>
  <title>MapKnitter 2.0 preview</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/lib/leaflet/dist/leaflet.js"></script>
  <link href="/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/lib/leaflet/dist/leaflet.css" media="screen" rel="stylesheet"/>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/leaflet-distortableimage/lib/easybutton.js"></script>
  <link rel="stylesheet" href="/lib/leaflet-distortableimage/DistortableImageOverlay.css" media="screen"/>
  <script src="/lib/leaflet-distortableimage/DistortableImageOverlay.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script> 
  <script src="/lib/leaflet-google/index.js"></script>

</head>
<body style="margin:0;">

  <form id="test_form" >
    <input type="file" id="inputimage" accept="image/*">
  </form>

  <div id="map" style="width:100%; height:100%; position:absolute; top:0;"></div>

  <script>

    var map

    (function(){

      var mapbox = L.tileLayer('https://{s}.tiles.mapbox.com/v3/anishshah101.ipm9j6em/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'examples.map-i86knfo3'
      })

      var google = new L.Google("SATELLITE",{opacity:0.5});

      map = new L.map('map',{
        layers: [google]
      }).setView([<%= @map.lat %>,<%= @map.lon %>],<%= @map.zoom.to_i-1 %>);

      //map.fitBounds(map._layers[1]._bounds)

      var baseMaps = {
          "OpenStreetMap": mapbox,
          "Google Satellite": google
      };
      var overlayMaps = {
      };
   
      var layersControl = new L.Control.Layers(baseMaps,overlayMaps);
      map.addControl(layersControl);

      // startup the Leaflet.DistortableImage plugin
      $L.initialize( {
        uploadBtn: true, // prompt and handle new images
        img_dir: '/lib/leaflet-distortableimage/src/images/'
      })

    <% @warpables.each do |warpable| %>
      img = new L.DistortableImageOverlay(
        '<%= warpable.image.url(:medium) %>',
        { 
          <% unless warpable.nodes == '' %>
          latlng:  [ 
            new L.latLng(<%= @nodes[warpable.id.to_s][0][1] %>,
                         <%= @nodes[warpable.id.to_s][0][0] %>),
            new L.latLng(<%= @nodes[warpable.id.to_s][1][1] %>,
                         <%= @nodes[warpable.id.to_s][1][0] %>),
            new L.latLng(<%= @nodes[warpable.id.to_s][3][1] %>,
                         <%= @nodes[warpable.id.to_s][3][0] %>),
            new L.latLng(<%= @nodes[warpable.id.to_s][2][1] %>,
                         <%= @nodes[warpable.id.to_s][2][0] %>)
                   ],
          <% end %>
          locked: <%= warpable.locked %> 
      });
      img.mk_id = <%= warpable.id %>
      img.onDeselect = function() {
        $.post('/warper/update',{
          warpable_id: this.mk_id,
          locked: this.locked,
          points: 
            this.markers[0]._latlng.lng+','+this.markers[0]._latlng.lat+':'+
            this.markers[1]._latlng.lng+','+this.markers[1]._latlng.lat+':'+
            this.markers[3]._latlng.lng+','+this.markers[3]._latlng.lat+':'+
            this.markers[2]._latlng.lng+','+this.markers[2]._latlng.lat
        })
      }

    <% end %>

    })()
      
  </script>
      
</html>
