<style>
img.export_status {
	float:left;
	margin-right:4px;
}
.export_button {
	padding:6px;
	border:2px solid #900;
	margin:2px;
	line-height:44px;
	background:#c00;
	color:#fff;
	text-decoration:none;
	font-family: lucida grande, helvetica, sans-serif;
	font-size: 14pt;
	font-weight:bold;	
}
.export_button.inactive {
	background:#ccc;
	border-color:#aaa;
}

#export_tabs {
	font-weight:bold;
}
#export_tabs a {
	display:block;
	float:left;
	margin-left:3px;
	padding:5px;
	font-size:10px;
	border:1px solid #555;
	border-bottom:none;
	background:#ccc;
}
#export_tabs a.active {
	background:none;
}
.export_panel {
	border-top:1px solid #555;
	clear:both;
}
#resolution_slider_handle {
	height:14px;
	width:6px;
	background:#666;
	cursor:move; 
	position: absolute;
	margin-top:-5px;
}
#resolution_slider {
	position: relative;
	height:2px;
	width:400px;
	background:#222;
	margin:6px;
	margin-bottom:20px;
}

</style>

<div id="export_tabs">
	<a id="export_intro_tab" class="active" href="javascript:void(0);" onClick="Knitter.export_intro();">Export</a> 
	<a id="export_options_tab" href="javascript:void(0);" onClick="Knitter.export_options();">Options</a>
</div>

<div id="export_intro" class="export_panel"><small>
<p>From this panel you can export this map in a variety of formats. These may already be available, but if you've changed the map at all, or want to see the most recent version, you can <b>re-generate the export</b>. All formats are generated together, but sequentially, so if you're waiting for a JPG you will have to let all the other formats commplete first.</p>

<p>This may take some time - a large map could take as long as <b>an hour or more</b>. Leave this panel open to monitor progress, or come back later to see how it's going. Closing this panel will not stop the export.</p>
</small>
</div>

<% 
hist = @map.images_histogram 
grouphist = @map.grouped_images_histogram((hist.length/15).to_i+1)
resolution = @map.average_cm_per_pixel.to_s[0..4]
%>

<div id="export_options" class="export_panel" style="display:none;">
<p>
<%= hist[0] %> cm/px <canvas style="display:inline;height:70px;" id="export_graph"></canvas> <%= hist.length-1 %> cm/px
</p>

<p><small>Slide to select an export resolution:</small>
<div id="resolution_slider">
	<div id="resolution_slider_handle"></div>
</div>
<script>
	Knitter.resolution_slider = new Control.Slider('resolution_slider_handle','resolution_slider', {
	  range: $R(0, 100),
	  //values: [1,2,3,4,5,6,7,8,9,10,12,14,16,18,20,24,28,32,36,40,45,50,55,60,70,80,90,100],//$R(0, 200),
	  sliderValue: <%= resolution.to_i %>,
	  alignX: -200,
	  //alignY: -5,
	  //handleImage: 'slider_2handle',
	  onSlide: function(value) {
		$('map_resolution').value = parseInt(value*100)/100
	  },
	  onChange: function(value) {}
	});
</script>
<label for="map_resolution">Enter a resolution:</label> 
<input onChange="Knitter.resolution_slider.setValue($('map_resolution').value)" name="resolution" id="map_resolution" type="text" value="<%= resolution %>" />
</p>
</div>

<script>
	//http://willarson.com/code/sparklines/sparklines.html
	var opts = {
	  "background":"#CCCCCC",
	  "stroke":"#444444",
	}
	sparkline = new Sparkline('export_graph', [<%= grouphist.join(',') %>], opts).draw()

	function refresh_formats(response) {
		eval(response)
	}
</script>

<div <% if @running %>style="display:none;"<% end %> id="run_export">Prove that you're a person, then click EXPORT to begin: <br />
<div id="recaptcha-container"></div>
<script type="text/javascript">
	Recaptcha.create('6LdN6sYSAAAAAOWasGXVBoKdvouels_oDnB_Zs3I',"recaptcha-container", {theme:"white"});
</script>
<br />

<a id="active_export_button" class="export_button active" href="javascript:void(0);" onClick="new Ajax.Request('/map/export/<%= @map.name %>?authenticity_token=<%= form_authenticity_token %>',{
	parameters: {
		recaptcha_response_field: Recaptcha.get_response(),
		recaptcha_challenge_field: Recaptcha.get_challenge(),
		resolution: $('map_resolution').value,
	},
	onSuccess: function(response){ eval(response.responseText) },
	onFailure: function(response){
		$('export_progress').insert('failed (ajax fail)... ') 
		eval(response.responseText)
		$('active_export_button').show()
		$('inactive_export_button').hide() 
	},
	});$('active_export_button').hide();$('inactive_export_button').show()">Export</a>

<span style="display:none;" id="inactive_export_button" class="export_button inactive">Export</span>
 (average resolution: <%= @map.average_cm_per_pixel.to_s[0..4] %> cm/px <a onClick="Knitter.export_options()" href="javascript:void(0);">Adjust</a>)
</div>

<div <% if !@running %>style="display:none;"<% end %> id="running_export">This map is currently building an export. Status is displayed below.</div>

<script>
new Ajax.PeriodicalUpdater('export_progress','/map/progress/<%= @map.id %>', {method: 'get', frequency: 5})
new Ajax.Updater('formats','/map/formats/<%= @map.id %>?authenticity_token=<%= form_authenticity_token %>')
</script>
<p class='export_status'>
<b>Status:</b> <span id='export_progress'>
Loading...
</span> (<a href="javascript:void(0);" onClick="new Ajax.Request('/map/cancel_export/<%= @map.id %>?authenticity_token=<%= form_authenticity_token %>');$('running_export').hide();$('run_export').show()">cancel</a>)</p>

<div id="formats">
</div>

<p>Export links may be unavailable while the export is running.</p>
