<% zoom = (-Math.log((maxlon-minlon)/360)/Math.log(2))+2 %>

<h1><%= zoom %></h1>

<% if (@export && @export.tms) && nrg = @map.get_export('nrg') %>
<iframe id="preview" src="http://archive.publiclaboratory.org/leaflet/layers/?tms=http://mapknitter.org/tms/<%= @map.name %>/&label=<%= @map.name %>&lon=<%= @map.lon %>&lat=<%= @map.lat %>&zoom=17&layers=http://mapknitter.org/tms/<%= @map.name %>-nrg/*NRG infrared"></iframe>
<% elsif @export && @export.tms %>
<iframe id="preview" src="http://archive.publiclaboratory.org/leaflet/?tms=http://mapknitter.org/tms/<%= @map.name %>/&lon=<%= @map.lon %>&lat=<%= @map.lat %>&zoom=17"></iframe>
<% else %>
<p><i>This map has not been exported yet. <a href="http://publiclaboratory.org/wiki/mapknitter">Run an export</a> to generate an embeddable and browseable preview.</i></p>
<% end %>

<br style="clear:left;" />

<% if !@map.private && @map.warpables.length > 0 %><img id="image" style="display:none;" src="<%= @map.warpables.first.public_filename(:medium) %>" /><% end %>

<div id="main">
	<h2><%= @map.name %></h2>	
	<p>
		<small>by <a href="/author/<%= @map.author %>"><%= @map.author %></a> (<a href="/feeds/author/<%= @map.author %>">RSS</a>)
		<% if admin && @map.email != '' %><<a href="mailto:<%= @map.email %>"><%= @map.email %></a>>,</a><% end %></small>
	</p>

	<% if @map.description %>
	<p><%= @map.description %></p>
	<% end %>
	
	<p><a href="http://www.openstreetmap.org/?lat=<%= @map.lat %>&lon=<%= @map.lon %>">View this location in OpenStreetMap</a></p>

	<h3 style="clear:left;padding-top:12px;"><a class="button" style="text-decoration:underline" href="/maps/<%= @map.name %>">Edit map &raquo;</a></h3>

	<% if @images.length > 0 %><h2>Images in this map:</h2><% end %>
	<div id='images'>
		<% @images.each do |image| %>
		<div class="image">
			<a href="<%= image.public_filename %>"><img src="<%= image.public_filename(:thumb) %>" /></a>
			<p>
			 <%= image.cm_per_pixel.to_s[0..2] %> cm/px<br /> 
			 <%= time_ago_in_words(image.created_at) %> ago
			</p>
		</div>
		<% end %>
		<br style="clear:left;" />
	</div>

	<h2>Nearby maps</h2>
	<div id="list">
		<% odd = true %>
		<% @map.nearby_maps(0.1)[0..3].each do |map| %>
			<% if !map.archived && !map.private && map.warpables.length > 0 %>
			<div class="map <%= 'odd' if odd %>">
				<a href="/map/view/<%= map.name %>"><img src="<%= map.warpables.first.public_filename(:small) %>" /></a>
				<h3><a href ="/map/view/<%= map.name %>"><%= map.name.capitalize %></a> <small>by <a href="/author/<%= map.author %>"><%= map.author %></a></small> </h3>
				<p><small><%= map.location %></small></p>
				<p class="description"><small>
					<%= truncate(map.description,:length =>200) %>
					<% if !map.description %><i>no description</i><% end %>
				</small></p>
				<p class="meta"><small>
					<% if map.archived %><i>Archived</i> | <% end %> 
					<a href="/map/view/<%= map.name %>">View</a> | 
					<a href="/map/show/<%= map.name %>">Edit</a> | 
					Updated <%= map.updated_at.to_s(:short) %> | 
					<%= map.warpables.length %> images 
				</small></p>
				<p class="formats">
				<% unless map.latest_export.nil? %>
				<% if map.latest_export.geotiff %>
					<a class="geotiff" href="/export/geotiff/<%= map.name %>.tif">GeoTIFF</a> 
					<br />
					<span class="geotiff_stats"><%= map.latest_export.cm_per_pixel %> cm/px, <%= number_to_human_size(map.latest_export.size) %>, <%= map.latest_export.width %> x <%= map.latest_export.height %> px</span>
				<% end %><br />
				<% if map.latest_export.tms %>
					<a class="leaflet" target="_blank" href="http://archive.publiclaboratory.org/leaflet/?tms=http://mapknitter.org/tms/<%= map.name %>/&lat=<%= map.lat %>&lon=<%= map.lon %>">Web viewer</a>
					<a class="tms" target="_blank" href="/tms/<%= map.name %>">TMS</a> <a class="tms-alt" href="/tms/<%= map.name %>/alt">OSM-style</a>
				<% end %>
				<% if map.latest_export.jpg %>
					<a class="jpg" href="/export/jpg/<%= map.name %>.jpg">JPG</a>
				<% end %>
				<% end %>
				</p>
			</div>
			<% odd = !odd %>
			<% end %>
		<% end %>
	</div>
	<br style="clear:both;" />
	
	<h2 id="comments">Comments</h2>

	<p>No comments (feature in development)</p>

</div>

<div id="sidebar">

<% if @export %>
<div class="box notice">
	<p>Now that you've exported your map, consider open sourcing it and submitting it to <a href="http://publiclaboratory.org/archive">the Public Laboratory Archive</a> -- a collection of open data by "counter-cartographers" and <a href="http://grassrootsmapping.org">grassroots mappers</a>. </p>
	<p><a class="button" href="http://publiclaboratory.org/wiki/publish-plots-archive">Click here to begin &raquo;</a></p>
</div>
<% end %>

<div id="license">
<p><small>
<% if @map.license == "publicdomain" %>
<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a class="badge" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <a rel="dct:publisher" href="http://publiclaboratory.org">
    <span property="dct:title"><%= @map.author %></span></a>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @map.name %></span>".
<!--This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
-->
</p>
<% elsif @map.license == "cc-by" %>
<a class="badge" rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a></p>
<p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. 
<% else %>
&copy; <%= @map.created_at.to_s[0..3] %> (<a href="http://publiclaboratory.org/wiki/open-sourcing-mapknitter-data">Click here</a> to open source your map.)
<% end %>
</small></p>
</div>

<% if @images.length > 0
	hist = @map.images_histogram 
	grouphist = @map.grouped_images_histogram((hist.length/15).to_i+1)
%>
	<p>0 cm/px <span class="bar"><%= grouphist.join(',') %></span> <%= hist.length-1 %> cm/px</p>
	<p>Average resolution: <%= @map.average_cm_per_pixel.to_s[0..2] %> cm/px</p>

<% end %>
	<script>
	$('.bar').sparkline('html', {type: 'bar'});
	</script>

<div class='box form'>
	<h3>Edit map details <small>(<a href="javascript:void(0);" onClick="$('#new_map').toggle()">Expand +</a>)</small></h3>
	<form style="display:none;" class='map' id="new_map" action="/map/update_map/<%= @map.name %>" method="get" accept-charset="utf-8">
	
		<input type='hidden' name='map[id]' value="<%= @map.id %>"/>
		
		<label for="location">Place</label><br />
		<input class="text" type="text" name="map[location]" value="<%= @map.location %>" id="new_map_place"><br />
		<% if admin %>
		<label for="password">Password (optional -- to keep your map private)</label><br />
		<input class="text" type="password" name="map[password]" value="<%= "*****" if @map.password != "" %>" id="new_map_password"><br />
		<% end %>
		<div id="geocode_results">
			
		</div>
		<script>
	    /* JQuery search as you type
	    * Overrides the action and method of the form
	    */
	      $(window).ready(function() {
	        $("#new_map_place").autocomplete("/map/geolocate",
	          { cacheLength:1, multiple:false, minchars:1, mustMatch:false,
	            highlight:false,
	            formatItem: function(x) {
	              return x[0];
	            },
	            formatResult: function(x) {
	              if(x[1]) {
	                //real object, with a url field
	                return x[0];
	              } else {
	                //a header, return null character
	                return "\0";
	              }
	            },
		    search: function(event,ui) {
		    }
	          });
	          $("#new_map_place").result(function(event, data, formatted) {
		    if (data == 'No results'){  
	            
		    } else {
	              $("#new_map_place").attr('value',data);
		    }
		  })
          	});
	    

		</script>
		<label for="author">Author</label><br />
		<input class="text" type="text" name="map[author]" value="<%= @map.author %>" id="author"><br />
		<p><%= recaptcha_tags :display => {:theme => "white"} %></p>
		<label for="description">Description</label><br />
		<textarea name="map[description]" rows="8" cols="24"><%= @map.description %></textarea><br />
		
		<!--<label for="password">Password (optional)</label><br />
		<input class="text" type="password" name="password" value="" id="password"><br />-->
			
		<% if @map.password != "" %>
		<label for="password">Password (you must enter the password to save)</label><br />
		<input class="text" type="password" name="password" id="password"><br />
		<% end %>
		<p><input type="submit" value="Save"></p>
	</form>
</div>

<div class='box'>
	<h3>Export formats</h3>

	<% if false # @export.tms %>
	<i>Embed code:</i><br />
	<textarea id="embedcode"><iframe style="border:0;" width="500px" height="375px" src="http://archive.publiclaboratory.org/leaflet/?tms=http://mapknitter.org/tms/<%= @map.name %>/&lon=<%= @map.lon %>&lat=<%= @map.lat %>&zoom=17"></iframe></textarea>
	<% end %>

	<% if @export %>
		<p>Available export formats:</p>
		<%= render :partial => "map/formats" %>
	<% else %>
		<p><i>This map has not been exported yet. <a href="http://publiclaboratory.org/wiki/mapknitter">Run an export</a> to generate an embeddable and browseable preview.</i></p>
	<% end %>

	<% if @map.license == "publicdomain" || @map.license == "cc-by" %>
	<p><a href="http://www.openstreetmap.org/edit?lon=<%= @map.lon %>&lat=<%=@map.lat %>&zoom=17&tileurl=http://mapknitter.org/tms/<%= @map.name %>/alt/$z/$x/$y.png?origin=nw">Use your map to contribute to OpenStreetMap</a>.</p>
	<% end %>
</div>

<% if @export && @export.jpg %>
<div class='box'>
<p><a class="button" href="http://www.zazzle.com/api/create/at-238652512768069879?rf=238652512768069879&ax=Linkover&pd=228632289886847720&fwd=ProductPage&ed=true&tc=&ic=&title=<%= @map.name %>&map=http://mapknitter.org/export/jpg/<%= @map.name %>.jpg">Print this map</a>
</p>
<p>Order a poster-sized print of this map. It may take a moment to generate the poster so please be patient. If this is your map, we may be able to offer a discount; please <a href="mailto:retail@publiclaboratory.org">get in touch</a>.</p>
</div>
<% end %>

<div class='box'>
        <h3>Multispectral export formats</h3>
        <p>If this map has been composited with another to generate infrared composite layers, they will be displayed here.</p>
	<% @export = @map.get_export('nrg') %>
        <%= render :partial => "formats" %>
</div>  

</div>

