<div>
<h4 class="sidebar-heading">Images</h4>
<div class="image-order">
  <button type="button" class="btn btn-outline-secondary">Sort Images</button>
  <div class="image-order-content">
    <a class="name" href="?sort=name">Name</a>
    <a class="size" href="?sort=size">Size</a>
    <a class="recent" href="?sort=recent">Recent</a>
  </div>
</div>
</div>
<% if @map.warpables.empty? %>
  <p id="no-images">No images uploaded. </p>
  <%end%>
<table class="warpables-all table table-striped">
  <tbody>
    <% sort_param = params[:sort] %>
    <% if sort_param == 'name' %>
      <% ary = @map.warpables.sort { |a, b| a.image_file_name <=> b.image_file_name } %>
      <script>
        $(".name").css("background-color","#5cb85c");
      </script>
    <% elsif sort_param == 'size' %>
      <% ary = @map.warpables.sort { |a, b| a.image_file_size <=> b.image_file_size } %>
      <script>
        $(".size").css("background-color","#5cb85c");
      </script>
    <% else %>
      <% ary = @map.warpables.sort { |a, b| b.created_at <=> a.created_at } %>
      <script>
        $(".recent").css("background-color","#5cb85c");
      </script>
    <% end %>
    <% ary.each do |warpable| %>

      <td colspan="3">
        <div class="dropdown" style="margin-top: 20px;">
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="image-history-<%= warpable.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onClick="$(this).next().toggle();">
           Image history
          </button>
          <div class="dropdown-menu image-version" aria-labelledby="dropdownMenuButton">
            <% warpable.versions.reverse.each do |version| %>
              <button class="<%= warpable.id %>" id="<%= version.index + 1%>" onClick="getVersion(this)"><%= version.event.capitalize %>d by
                <% if version.whodunnit && version.whodunnit != 'Anonymous' %>
                  <% user = User.find_by_id(version.whodunnit) %>
                  <% if user %>
                    <a href="/profile/<%= user.login %>"><%= user.login %></a>
                  <% end %>
                <% else %>
                  <u>an Anonymous user</u>
                <% end %>
                <%= time_ago_in_words(version.created_at) %> ago
              </button>
            <% end %>
          </div>
        </div>
      </td>

      <tr id="warpable-<%= warpable.id %>">
        <td class="warpable">
          <%= image_tag warpable.image.url(:thumb), 
              :'data-warpable-id' => warpable.id,
              :'data-map-id' => @map.id,
              :'id' => "warpable-img-#{warpable.id}"
          %>
        </td>

        <td class="col-middle">
          <%= link_to(warpable.image_file_name, warpable.image.url) %>
          <p><%= number_to_human_size warpable.image_file_size %></p>
          <p>
            <% unless warpable.placed? %>
              <a onClick="window.mapKnitter.addImage('<%= warpable.image.url(:medium) %>',<%= warpable.id %>);$('#warpable-<%= warpable.id %> a').hide()" class="btn btn-sm btn-outline-secondary add-image-<%= warpable.id %>">Place</a>
              <a class="btn btn-sm btn-outline-secondary add-image-gps-<%= warpable.id %>" style="display:none;">Place w/ GPS</a>
              <!-- <a href="">Re-place</a>  -->
              <script>
                jQuery(document).ready(function($) {
                  window.mapKnitter.geocodeImageFromId('#warpable-img-<%= warpable.id %>',<%= warpable.id %>,'<%= warpable.image.url(:medium) %>');
                })
              </script>
            <% end %>
          </p>
        </td>
        <td>
          <% if logged_in? && current_user.can_delete?(warpable) %>
            <%= link_to "<i class='fas fa-times'></i>".html_safe, [@map, warpable],
                method: "delete",
                class: "btn btn-sm btn-danger",
                title: "Delete",
                rel: "tooltip",
                data: { confirm: "Are you sure? This cannot be undone." }
            %>
          <% end %>
          <% if warpable.placed? %>
            <a rel="tooltip" id="locate-warpable-<%= warpable.id %>" title="Pan to this image" class="btn btn-sm btn-success"><i class='fa fa-crosshairs'></i></a>
            <a rel="tooltip" title="Download full resolution distorted image (please allow popups)" class="btn btn-sm btn-outline-secondary img-download img-download-<%= warpable.id %>" data-image="/images/fetch/?url=<%= warpable.image.url(:original) %>"><i class="fa fa-download"></i></a>
            <div class="full-image-container-<%= warpable.id %>" style="overflow:hidden;width:0;height:0;"><img id="full-img-<%= warpable.id %>" /></div>
            <script>
              $('#warpable-<%= warpable.id %> [rel=tooltip]').tooltip();
              $('#locate-warpable-<%= warpable.id %>').click(function(){
                var center_and_bring_to_front = function() {
                  window.mapKnitter._map.fitBounds([new L.LatLng(<%= warpable.nodes_array.first.lat %>,<%= warpable.nodes_array.first.lon %>),
                                                      new L.LatLng(<%= warpable.nodes_array[2].lat %>,<%= warpable.nodes_array[2].lon %>)]);
                  $.each(images,function(i,img) {
                    if (img.warpable_id == <%= warpable.id %>) {
                      window.mapKnitter.selectImage.bind(img)()
                    }
                  })
                }
                /* wait for map to load if we're on a small screen and it's been hidden */
                if ($('body').width() < 400) {
                  window.toggle_sidebar();
                  window.mapKnitter._map.once('resize', center_and_bring_to_front)
                } else {
                  center_and_bring_to_front();
                }
              })
            </script>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  function getVersion(el){
    var id = $(el).attr('class');
    var num = $(el).attr('id') - 1;
    console.log(num);
    var arr =[id,num]
    $.ajax({
      url: '/images/revert/' + arr,
      type: 'GET',
       success: function(data) {
           console.log("Success");
      }
  })
};
</script>