<h4>Images</h4>
<table class="warpables-all table table-striped">
  <tbody>
    <% @map.warpables.each do |warpable| %>
      <tr id="warpable-<%= warpable.id %>">
        <td class="warpable">
          <%= image_tag warpable.image.url(:thumb), 
              :'data-warpable-id' => warpable.id,
              :'data-map-id' => @map.id,
              :'id' => "warpable-img-#{warpable.id}"
          %>
        </td>
        <td class="col-middle">
          <%= link_to(warpable.image_file_name, warpable.image.url) %>
          <p><%= number_to_human_size warpable.image_file_size %></p>
          <p>
            <% unless warpable.placed? %>
              <a onClick="window.mapKnitter.addImage('<%= warpable.image.url(:medium) %>',<%= warpable.id %>);$('#warpable-<%= warpable.id %> a').hide()" class="btn btn-xs btn-default add-image-<%= warpable.id %>">Place</a>
              <a class="btn btn-xs btn-default add-image-gps-<%= warpable.id %>" style="display:none;">Place w/ GPS</a> 
              <!-- <a href="">Re-place</a>  -->
              <script>
                jQuery(document).ready(function($) {
                  window.mapKnitter.geocodeImageFromId('#warpable-img-<%= warpable.id %>',<%= warpable.id %>,'<%= warpable.image.url(:medium) %>');
                })
              </script>
            <% end %>
          </p>
        </td>
        <td>
          <% if logged_in? && current_user.can_delete?(warpable) %>
            <%= link_to "<i class='fa fa-remove'></i>".html_safe, [@map, warpable], :method => "delete", :class => "btn btn-xs btn-danger", :title => "Delete", :rel=> "tooltip" %>
          <% end %>
          <% if warpable.placed? %>
            <a rel="tooltip" id="locate-warpable-<%= warpable.id %>" title="Pan to this image" class="btn btn-xs btn-success"><i class='fa fa-crosshairs'></i></a>
            <a rel="tooltip" title="Download full resolution distorted image (please allow popups)" class="btn btn-xs btn-default img-download img-download-<%= warpable.id %>" data-image="/images/fetch/?url=<%= warpable.image.url(:original) %>"><i class="fa fa-download"></i></a> 
            <div class="full-image-container-<%= warpable.id %>" style="overflow:hidden;width:0;height:0;"><img id="full-img-<%= warpable.id %>" /></div>
            <script>
              $('#warpable-<%= warpable.id %> [rel=tooltip]').tooltip();
              $('#locate-warpable-<%= warpable.id %>').click(function(){
                var center_and_bring_to_front = function() {
                  window.mapKnitter._map.fitBounds([new L.LatLng(<%= warpable.nodes_array.first.lat %>,<%= warpable.nodes_array.first.lon %>),
                                                      new L.LatLng(<%= warpable.nodes_array[2].lat %>,<%= warpable.nodes_array[2].lon %>)]);
                  $.each(images,function(i,img) {
                    if (img.warpable_id == <%= warpable.id %>) {
                      window.mapKnitter.selectImage.bind(img)()
                    }
                  })
                }

                /* wait for map to load if we're on a small screen and it's been hidden */
                if ($('body').width() < 400) {
                  window.toggle_sidebar();
                  window.mapKnitter._map.once('resize', center_and_bring_to_front)
                } else {
                  center_and_bring_to_front();
                }
              })
            </script>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
