<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapKnitter</title>
    <meta name="author" content="MapKnitter contributors">
    <meta name="description" content="Make maps from aerial photos with Public Lab's free and open source web toolkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="/images/mapknitter-255.png">
    <link rel="apple-touch-icon-precomposed" href="/images/mapknitter-255.png">
    <link rel="apple-touch-icon-precomposed apple-touch-icon" href="/images/mapknitter-255.png">
    <link rel="shortcut icon" href="/images/mapknitter-255.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application' %>
    <%= action_cable_meta_tag %>
    <%=raw csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src='https://js.sentry-cdn.com/d51bdd76485d488c8104efdbcb109ba2.min.js' crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5D2HTSG0B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K5D2HTSG0B');
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/alerts' %>
    <%= yield; %>
    <%= render 'layouts/footer' %>
  </body>
</html>
