<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>MapKnitter</title>
    <meta name="author" content="MapKnitter contributors"/>
    <meta name="description" content="Make maps from aerial photos with Public Lab's free and open source web toolkit"/>
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css"/>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield; %>

    <%= render 'layouts/footer' %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-180781-29");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
