<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>MapKnitter: <%= @map[:name] %></title>
	<meta name="description" content="<%= @map.description.gsub('"',"'") if @map.description %>" />
 
	<link rel="stylesheet" href="/cartagen/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/knitter.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <%= javascript_include_tag 	"jquery.min" 					%>
    <%= javascript_include_tag 	"/bootstrap-modal/modal.js" 	%>
    <%= stylesheet_link_tag 	"/bootstrap-modal/modal.css" 	%>

	<!--[if IE]><script type="text/javascript" src="/cartagen/excanvas.js"></script><![endif]-->
	<script type="text/javascript">
		cartagen_base_uri = '/cartagen'
	</script>
	<script type='text/javascript' src='http://www.google.com/recaptcha/api/js/recaptcha_ajax.js' charset="utf-8"></script>
	<script src="/cartagen/cartagen.js" type="text/javascript" charset="utf-8"></script>
	<script src="/knitter.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/modalbox/modalbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="/javascripts/scriptaculous.js"></script>
	<script src="/modalbox/modalbox.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/sparklines.min.js"></script>
	<script src="/javascripts/OpenLayers-2.14d.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?ABQIAAAANO6Yx8ihhesSqnPHx9a3RxQWBoXWBrlkEUL-tdL_AsWXzvTH0xT-5lfSNkW4zpDMdK9jmjmggAHvYw&sensor=false"></script>
	<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>
    
    </head>
<body>
	<%= yield %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-180781-29");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
