<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>MapKnitter: <%= @map[:name] %></title>
	<meta name="description" content="<%= @map.description.gsub('"',"'") if @map.description %>" />
	<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'maps' %>
</head>
<body>
	<%= yield %>	
	<script>
		initializeLeaflet({ lat: <%= @map.lat %>, lng: <%= @map.lon %> }, <%= @map.zoom %>);
	</script>

</body>
</html>
