<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%=raw csrf_meta_tags %>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>MapKnitter: <%= @map[:name] ? @map[:name] : "New map" %></title>
  <meta name="description" content="<%= @map.description.gsub('"',"'") if @map.description %>" />  
  <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'uploads' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'maps' %>
  <%= javascript_include_tag 'uploads' %>

  <link rel="stylesheet" href="/lib/leaflet-toolbar/dist/Leaflet.Toolbar.css"/>
  <script src="/lib/leaflet-toolbar/dist/Leaflet.Toolbar.js"></script>
  <link rel="stylesheet" href="/lib/leaflet-distortableimage/DistortableImage.css"/>
  <script src="/lib/leaflet-distortableimage/DistortableImage.js"></script>
  <script src="/lib/leaflet-easybutton/easy-button.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script> 
  <script src="/lib/leaflet-google/index.js"></script>
  
</head>
<body>
  <div id="knitter-map-pane">
    <a class="sidebar-toggle"><i class="fa fa-chevron-left"></i></a>
  </div>
  <div class="sidebar">
    <%= render :partial => 'layouts/header' %>
    <div class="sidebar-wrap">
      <div class="sidebar-inner-wrap">
        <div class="sidebar-header"><%= yield :title %></div>
        <% if @map.new_record? %>
          <%= yield %>
        <% else %>
          <div class="sidebar-content-wrap">
            <!-- Toolbar for uploading and viewing images and exporting the map. -->
            <div class="btn-group btn-group-justified sidebar-buttons">
              <!-- Upload images -->
              <div class="btn-group">
                <button class="btn btn-default" title="Upload images" type"button" data-toggle="modal" data-target="#uploadModal">
                  <span class="fa fa-upload"></span>
                </button>
              </div>

              <!-- Write a research note on Public Lab -->
              <div class="btn-group">
                <a onClick="$('#chat').toggle()" class="btn btn-default" title="Get help from other members of Public Lab">
                  <span class="fa fa-comment"></span>
                </a>
              </div>

              <div id="chat" class="chat-popover" data-placement="bottom" style="display:none;">
                <a style="margin-right:4px;" class="pull-right btn btn-small" href="http://chat.treehouse.su/?channels=publiclab<% if current_user %>&nick=<%= current_user.login %><% end %>" target="_blank">pop out</a>
                <p class="popover-title">Public Lab chatroom</p>
                <iframe width="400px" height="300px" src="http://chat.treehouse.su/?channels=publiclab<% if current_user %>&nick=<%= current_user.login %><% end %>"></iframe>
              </div>

              <!-- Write a research note on Public Lab -->
              <div class="btn-group">
                <a target="_blank" class="btn btn-default" title="Post a research note on Public Lab" href="//publiclab.org/post">
                  <span class="fa fa-file"></span>
                </a>
              </div>

              <!-- Export map -->
              <div class="dropdown btn-group">
                <button class="btn btn-default dropdown-toggle" title="Export map" type="button"  data-toggle="dropdown">
                  <span class="fa fa-download"></span>
                  <span class="caret"></span>              
                </button>
                <ul class="dropdown-menu dropdown-menu-right map-exports" role="menu">
                  <%= render :partial => 'maps/exports' %>
                </ul>
              </div>
            </div>
            <div class="sidebar-tabs">
              <!-- Navigation tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#map-details-container" role="tab" data-toggle="tab">Details</a></li>
    <li><a href="#map-images-container" role="tab" data-toggle="tab">Images (<%= @map.warpables.length %>)</a></li>
                <li><a href="#map-editing-container" role="tab" data-toggle="tab">Annotations</a></li>
                <li><a href="#map-exports-container" role="tab" data-toggle="tab">Exports</a></li>
              </ul>

              <!-- Tabbed panes -->
              <div class="tab-content sidebar-content">
                <div class="tab-pane active" id="map-details-container">
                  <%= yield :details %>
                </div>
                <div class="tab-pane" id="map-images-container">
                  <%= yield :images unless @map.warpables.empty? %>
                </div>
                <div class="tab-pane" id="map-editing-container">
                  <%= render :partial => "sidebar_annotations" %>
                </div>
                <div class="tab-pane" id="map-exports-container">
                  <%= render :partial => "sidebar_exports" %>
                </div>
              </div>  

            </div><!-- .sidebar-tabs -->
          </div><!-- .sidebar-content -->
        <% end %>
      </div><!-- .sidebar-inner-wrap -->
    </div><!-- .sidebar-wrap -->
  </div><!-- .sidebar -->

  <%= render :partial => "/images/new" unless @map.warpables.empty? %>
  <script>
    var map
    (function(){
      window.mapKnitter = new MapKnitter.Map({
        latlng:     L.latLng(<%= @map.lat %>, <%= @map.lon %>),
        zoom:       <%= @map.zoom %>,
        warpablesUrl:   "<%= url_for([@map, :warpables])+'.json' unless @map.warpables.empty? %>"
      });
    })();
  </script>  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-180781-29");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
