<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>MapKnitter: <%= @map[:name] %></title>
	<meta name="description" content="<%= @map.description.gsub('"',"'") if @map.description %>" />
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

	<!-- Stylesheets for MapKnitter -->
	<link rel="stylesheet" type="text/css" href="/style-2.css"/>
	<%= stylesheet_link_tag 'application' %>

	<%= javascript_include_tag 'application' %>
</head>
<body>
	<%= yield %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-180781-29");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
