<% if mappers.any? %>
  <hr>
  <div class="section-header text-center">
    <h2 class="section-title">Featured Mappers</h2>
  </div>
  <div class="row map-list mx-auto">
    <% mappers.each do |author, count| %>
      <div class="card-deck map col-md-6 col-lg-3 col-xs-12 mb-2 ml-2">
        <div class="card card-without-border">
          <img class="card-img-top img-icon rounded-circle mx-auto" src="<%= asset_path('user.png') %>" alt="Profile picture">
          <div class="card-body text-center" style="margin-left: -18px !important;">
            <h5 class="card-title"><a href="/profile/<%= author[:user].login %>">@<%= author[:user].login %></a></h5>
            <p class="card-text text-muted">
              <%= author[:count]%> maps shared near <%= author[:location] %>
              <br>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="section-header text-center">
    <a href="#" class="alert-link">See more nearby people & maps</a>
  </div>
<% end %>
