<div class="section-header mt-4" id="all-maps" >
    <% if params[:q].present? %>
        <h2 class="section-title text-center"> <%= @title %></h2>
         <hr style="max-width: 500px;">
        <br> <br>
        <%= render :partial => 'front_ui/maps', :locals => { :maps => @maps } %>
    <% else %>
        <h2 class="section-title text-center">Maps Gallery</h2>
        <br> <br>
        <ul class="nav nav-pills nav-tabs justify-content-center" >
            <li class="nav-item">
                <a class="nav-link active"  data-toggle="tab" href="#featured" role="tab" aria-selected="true"><%= @title ||= "Featured" %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#anonymous" role="tab" aria-selected="false">Anonymous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#all" role="tab" aria-selected="false">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#authors" role="tab" aria-selected="false">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#location" role="tab" aria-selected="false">Location</a>
            </li>
            <% if params[:controller] == "tags" %>
                <li class="nav-item">
                    <a class="nav-link" role="tab" href="/feeds/tag/<%= params[:id] %>" aria-selected="false">RSS</a>
                </li>
            <% end %>
        </ul>
        <br>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="featured" role="tabpanel">
                <%= render :partial => 'front_ui/maps', :locals => { :maps => featured(@maps) } %>
            </div>
            <div class="tab-pane fade"  id="all" role="tabpanel">
                <%= render :partial => 'front_ui/maps', :locals => { :maps => @maps } %>
            </div>
            <div class="tab-pane fade" id="anonymous" role="tabpanel">
                <%= render :partial => 'front_ui/maps', :locals => { :maps => anonymous(@maps) } %>
            </div>
            <div class="tab-pane fade" id="authors" role="tabpanel">
                <%= render :partial => 'front_ui/featured_mappers', :locals => { :mappers => @authors } %>
            </div>
            <div class="tab-pane fade"  id="location" role="tabpanel">
                <div style="text-align: center; margin-bottom: 50px;">
                    <input class="bg-light" id="usr" type="text" placeholder="Enter location">
                    <button class="loc" type="submit" style="margin-left: 2px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div id = "location-title" style="text-align: center; margin-bottom: 20px;">
                    <h4></h4>
                </div>
                <div id ="display-location"></div>
            </div>
        </div>
    <% end %>

</div>
<script>
    $("#location-title").css('display','none');
    $(".loc").click(function(){
        var loc = $("#usr").val();
        $.ajax({
          type: "GET",
          url: '/gallery/location',
          data: {id: loc},
          success: function(data) {
            $("#location-title").css('display','block');
            $("h4").text(loc);
            $("#display-location").html("<%= j render :partial => 'front_ui/maps', :locals => { :maps => location(@maps,"#{@loc}") } %>");
            $("#usr").val('');
          },
        });
    });
</script>
