<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.css" %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js') %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/windRoseLayer.js') %>
<%= javascript_include_tag('/lib/leaflet-hash/leaflet-hash.js') %>
<%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>
<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>

<!-- jumbotron with background-image -->
<div class="jumbotron jumbotron-fluid text-center" id="hero">
  <div class="container">
    <h1 class="display-4 jumbotron-text">MapKnitter</h1>
    <p class="lead jumbotron-text">Use a kite, balloon, pole, or drone to take an aerial photo and tell your own visual story of the place. <a href="/about" class="alert-link">Learn more</a></p>
    <p class="lead">
      <a class="btn btn-info btn-lg" id="get-started-button" href="<%= new_map_url %>" role="button">Get Started</a>
      <a class="btn btn-info btn-lg" href="#mapping-kits" role="button">Get a mapping kit</a>
    </p>
  </div>
</div>

<!-- trending places -->
<div class="card text-center card-without-border mb-3">
  <div class="card-body">
    <h5 class="card-title">MapKnitter is a Community Atlas hosted by Public Lab</h5>
    <h6 class="card-subtitle mb-2 text-muted">Here are some places recommended for you</h6>
  </div>
</div>
</br>
<div id="mapknitter-unique" class="mx-auto" style="height: 350px ; width: 100% ;"></div> 

<!-- mapping kites -->
<div class="card-deck mt-3 text-center mx-auto" id="mapping-kits">
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('balloon.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Balloon mapping</h5>
      <p class="card-text text-muted">Reliable, ~1000-3000 ft high and great for groups and workshops.</p>
      <a href="//store.publiclab.org/collections/mapping-kits/products/balloon-mapping-kit?variant=7028822724" class="btn btn-outline-info" target="_blank">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('kite.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kite mapping</h5>
      <p class="card-text text-muted">Cheap, ~500-1500 ft high and very portable, great for kids.</p>
      <a href="//store.publiclab.org/collections/education/products/kite-mapping-pack?variant=10531821124" class="btn btn-outline-info" target="_blank">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('selfie-stick.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pole mapping</h5>
      <p class="card-text text-muted">Cheap, ~10-40 ft high, good for gardens + yards, versatile.</p>
      <a href="//store.publiclab.org/collections/mapping-kits/products/pole-mapping-kit?variant=1259641040" class="btn btn-outline-info" target="_blank">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('drone.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Drone mapping</h5>
      <p class="card-text text-muted">Getting cheaper, ~500-1500 ft high,  navigable and stable, versatile.</p>
      <a href="#" class="btn btn-outline-info" target="_blank">Get a kit</a>
    </div>
  </div>
</div>

<script>
  var Mapknitterunique = new L.Map('mapknitter-unique')

  Mapknitterunique.locate({setView: true, minZoom : 2, maxZoom: 12});

  Mapknitterunique.on('locationerror', function (locationEvent) {
    Mapknitterunique.stopLocate()
    var bounds = new L.LatLngBounds(new L.LatLng(84.67351257 , -172.96875) , new L.LatLng(-54.36775852 , 178.59375));
    Mapknitterunique.options.maxBounds = bounds;
    Mapknitterunique.options.maxBoundsViscosity = 0.75;
    Mapknitterunique.setView([43, -83] , 2);
  })

  var baselayer = L.tileLayer('https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(Mapknitterunique); 

  Mapknitterunique.addControl(new L.Control.Fullscreen()); // to go full-screen
  Mapknitterunique.on('fullscreenchange', function () {
    if (Mapknitterunique.isFullscreen()) {
      Mapknitterunique.options.minZoom = 3 ;
     } 
    else {
      Mapknitterunique.options.minZoom = 1 ;
    }
  });

  var MapKnitter = L.layerGroup.mapKnitterLayer().addTo(Mapknitterunique);

  var baseMaps = {
    "Baselayer1": baselayer
  };
  var overlayMaps = {
    // "PurpleAirLayer-Markers": PurpleAirMarkerLayer ,
    // "SkyTruth": SkyTruth , 
    // "Fractracker" : Fractracker ,
    // "ToxicRelease": ToxicRelease ,
    // "OdorReport": OdorReport ,
    "MapKnitter": MapKnitter ,
    // "OpenInfraMap_Power": OpenInfraMap_Power ,
    // "OpenInfraMap_Telecom": OpenInfraMap_Telecom ,
    // "OpenInfraMap_Petroleum": OpenInfraMap_Petroleum ,
    // "OpenInfraMap_Water": OpenInfraMap_Water ,
    // "Justicemap_income": Justicemap_income,
    // "JusticeMap_americanIndian": JusticeMap_americanIndian ,
    // "JusticeMap_asian": JusticeMap_asian ,
    // "JusticeMap_black": JusticeMap_black,
    // "JusticeMap_multi": JusticeMap_multi ,
    // "JusticeMap_hispanic": JusticeMap_hispanic ,
    // "JusticeMap_nonWhite": JusticeMap_nonWhite,
    // "JusticeMap_white": JusticeMap_white ,
    // "JusticeMap_plurality": JusticeMap_plurality ,
    //    "Clouds": clouds ,
    //    "clouds (classic)": cloudscls ,
    //    "precipitation": precipitation ,
    //    "precipitation (classic)": precipitationcls , 
    //    "rain": rain , 
    //    "rain (classic)": raincls ,
    //    "snow": snow , 
    //    "pressure": pressure ,
    //    "pressure contour (zoom in)": pressurecntr , 
    //    "temp": temp , 
    //    "wind": wind , 
    //    "Cities (zoom in)": city  , 
    //    "windrose (zoom in)": windrose
  };
  L.control.layers(baseMaps, overlayMaps).addTo(Mapknitterunique);
</script>