<%# <%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%# # <%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %> 
<%= javascript_include_tag('/assets/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/assets/leaflet-spin/example/leaflet.spin.min.js') %>
<%= javascript_include_tag('leaflet-fullHash.js') %>
<%= stylesheet_link_tag "/assets/front_ui.css" %>

<!-- jumbotron with background-image -->
<div class="container-fluid jumbotron text-center" id="hero" style="margin-bottom:-10px;">
    <div class="row">
        <div class= "text-block lead-text col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
            <h1>MapKnitter</h1>
            <p><i style="color:#aaa;">A Community Atlas hosted by <a href="https://publiclab.org">PublicLab</a></i></p>
            <p>Use a kite, balloon, or pole to take an aerial photo and tell your own visual story of a place. <a href="/about" class="alert-link">Learn more</a></p>
            <p>
            <a class="btn btn-primary btn-lg" href= 'https://store.publiclab.org/collections/mapping-kits'>
                Get a mapping kit <i class="fa fa-angle-double-right fa-fw" style="font-size:18px;color:white;"></i>
            </a>
            <% if logged_in? %>
              <a class="btn btn-primary btn-lg" href="<%= new_map_url %>">
            <% else %>
              <a class="btn btn-primary btn-lg" href="" data-toggle="collapse" data-target="#anonymous-map">
            <% end %>
            Make a map <i class="fa fa-plus fa-fw" style="font-size:12px;color:white;"></i>
            </a>
            </p>
            <div class="alert alert-success">Read about the <a href="https://publiclab.org/mapknitter3">newly relaunched MapKnitter 3</a>!</div>
        </div>

        <div id = "anonymous-map" class="collapse text-block lead-text col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
          <p>We strongly prefer that you should
            <%= render partial: "layouts/login_form" %>
          OR <a href="http://publiclab.org/signup">sign up for a Public Lab account</a>
          <br>
          before making a map. However, if you wish to remain anonymous for privacy reasons, <a href="<%= new_map_url %>">click here</a> to create a map. Also, note that, Anonymous maps have some limitations, <a href="/anonymous">click here</a> to learn more.
          </p>
      </div>

  </div>
  <div class="mini-login">
    <%= render partial: "layouts/login_modal" %>
  </div>
</div>

<div id="mapknitter-unique" class="mx-auto" style="height: 450px; width: 100%;"></div>

<div style="padding:5px;">
  <div class="featured-places">
    <!-- <%= link_to 'Nearby Maps', 'front_ui/nearby_mappers' %> -->
  </div>
</div>

<br class="before-featured-map" style="clear:both;" />

<% if @mappers.any? %>
    <div class="section-header text-center">
        <h2 class="section-title">Featured Mappers</h2>
    </div>
    <%= render :partial => 'featured_mappers', :locals => { :mappers => @mappers } %>
<% end %>

<br style="clear:both;" />

<div class="section-header text-center">
    <% if session[:lat].present?  %>
      <a href="/mappers" class="alert-link">Nearby people & maps</i></a>
      &nbsp; | &nbsp;
    <% end %>
    <a href="/gallery" class="alert-link">All maps</a>
    <hr style="max-width: 300px;">
</div>
<br>


<div class="section-header text-center">
    <h2 class="section-title">Aerial Mapping Kits</h2>
</div>

<!-- mapping kites -->
<div class="card-deck mb-6  text-center mx-auto" id="mapping-kits">
    <div class="card mapping-kits">
        <img class="card-img-top img-draw mx-auto" src="<%= asset_path('balloon.png') %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Balloon mapping</h5>
            <p class="card-text item-description">Reliable, ~1000-3000 ft high and great for groups and workshops.</p>
            <a href="//store.publiclab.org/collections/mapping-kits/products/balloon-mapping-kit?variant=7028822724" class="btn btn-lg btn-outline-secondary" target="_blank">Build or get a kit <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <div class="card mapping-kits">
        <img class="card-img-top img-draw mx-auto" src="<%= asset_path('kite1.png') %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kites</h5>
            <p class="card-text item-description">Cheap, ~500-1500 ft high and very portable, great for kids.</p>
            <a href="//store.publiclab.org/collections/education/products/kite-mapping-pack?variant=10531821124" class="btn btn-lg btn-outline-secondary" target="_blank">Build or get a kit <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>

<br><br><br>

<div class="mapping-kits card-deck mb-6  text-center mx-auto">
    <div class="card mapping-kits">
      <img class="card-img-top img-draw mx-auto" src="<%= asset_path('camera.png') %>" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Raspberry Pi Camera</h5>
          <p class="card-text item-description"> Lightweight battery pack, easy to use, connects to to your laptop/phone,<br> great for streaming video, photos, and motion triggered capture</p>
          <a href="https://store.publiclab.org/collections/mapping-kits/products/waterproof-mini-camera" class="btn btn-lg btn-outline-secondary" target="_blank">Build or get a kit <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
    <div class="card mapping-kits">
        <img class="card-img-top img-draw  mx-auto" src="<%= asset_path('selfie.png') %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pole mapping</h5>
            <p class="card-text item-description">Cheap, ~10-40 ft high, good for gardens + yards, versatile.</p>
            <a href="//store.publiclab.org/collections/mapping-kits/products/pole-mapping-kit?variant=1259641040" class="btn btn-lg btn-outline-secondary" target="_blank">Build or get a kit <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>

<div class="section-header text-center">
    <h2 class="section-title">How it works</h2>
</div>

<div class="container-fluid text-center activities">
    <div class="row">
        <div class="col-md-6">
          <h4 class="section-title">Take aerial photos</h4>
          <p>Use a kite, balloon, or pole to take aerial photos - using a camera on a timer.  Or take photos out the window of an airplane.</p>
          <p><a href="https://publiclab.org/balloon-mapping"><img src="https://publiclab.org/system/images/photos/000/020/851/original/stormwater.jpg" /></a></p>
        </div>
        <div class="col-md-6">
          <h4 class="section-title">Combine them into a map</h4>
          <p>Upload images and stretch them to create a mosaic of aerial photos, then save them as a map. See the Activities below for more!</p>
          <p><a href="https://publiclab.org/notes/warren/04-06-2017/stitching-images-into-maps-with-mapknitter"><img src="https://raw.githubusercontent.com/publiclab/mapknitter/master/public/demo.gif" /></a></p>
        </div>
    </div>
</div>

<br><br><br>

<div class="container-fluid text-center activities">
    <div class="row">
        <div class="col-md-6">
            <h3>Activities </h3>
            <p>The Public Lab community has shared a wide range of guides on aerial mapping.</p>
            <iframe style="border:none;" width="90%" height="1000px" src="//publiclab.org/embed/grid/activity:balloon-mapping"></iframe>
        </div>
        <div class="col-md-6">
            <h3>Questions </h3>
            <p>Our peer-support community has asked and answered all kinds of questions about aerial mapping. Browse or dig deeper <a href="https://publiclab.org/balloon-mapping">on PublicLab.org</a>.</p>
            <iframe style="border:none;" width="90%" height="1000px" src="//publiclab.org/embed/grid/question:balloon-mapping"></iframe>
        </div>
    </div>
</div>

<br><br><br>

<script>
  var defaultLoc;
  var places = [
    { name: 'Louisiana',   zoom: 8,  lat: 29.884,   lng: -90.172 },
    { name: 'Puerto Rico', zoom: 7,  lat: 18.315,   lng: -66.797 },
    { name: 'Mexico City', zoom: 6,  lat: 20.120,   lng: -99.005 },
    { name: 'Lima',        zoom: 10, lat: -11.9995, lng: -77.0285 },
    { name: 'Nairobi',     zoom: 12, lat: -1.2500,  lng: 36.8291 },
    { name: 'Jakarta',     zoom: 10, lat: -6.1847,  lng: 106.9015 },
    { name: 'Korea',       zoom: 6,  lat: 36.189,   lng: 128.309 },
    { name: 'Bangalore',   zoom: 10, lat: 13.0034,  lng: 77.5768 },
    { name: 'Milan',       zoom: 9,  lat: 45.4311,  lng: 9.3339 }
  ];
  function randomizeVals() {
    defaultLoc = places[parseInt(Math.random() * places.length)];
  }
  randomizeVals();

  /**
   * Randomize array element order in-place.
   * Using Durstenfeld shuffle algorithm.
   */
  function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  }

  defaultLoc.lat = defaultLoc.lat || <%= params[:lat] || 'false' %>;
  defaultLoc.lng = defaultLoc.lng || <%= params[:lng] || 'false' %>;
  defaultLoc.zoom = defaultLoc.zoom || <%= params[:z] || 'false' %>;

  var Mapknitterunique = L.map('mapknitter-unique').setView([places[0].lat, places[0].lng], 8);
  var hash = new L.Hash(Mapknitterunique);

  L.LayerGroup.EnvironmentalLayers({include: ['mapknitter']}).addTo(Mapknitterunique);

  function displayFeaturedPlaces() {
    shuffleArray(places);
    places.forEach(function(place, i) {
      // use "mapknitter.org#8/29.884/-90.172/" style easyHash links
      var locHash = '#' + place.zoom + '/' + place.lat + '/' + place.lng + '/';
      $('.featured-places').append('<a class="place-' + i + '" href="javascript:void(0);">' + place.name + '</a>');
      $('.featured-places .place-' + i).click(function click() {
        var loc = hash.parseHash(locHash);
        Mapknitterunique.flyTo(loc.center, loc.zoom)
      });
    });
  }
  displayFeaturedPlaces();

  Mapknitterunique.locate({setView: true, minZoom : 2, maxZoom: 9});

  Mapknitterunique.on('locationfound', function (locationEvent) {
    getCoordinates(locationEvent);
  });

  Mapknitterunique.on('locationerror', function (locationEvent) {
    setDefaultCoordinates(locationEvent);
  });

  function getCoordinates(location) {
    var lat = location.latitude;
    var lon = location.longitude;
    saveLocation(lat, lon);
  }

  function setDefaultCoordinates() {
    Mapknitterunique.stopLocate();
    Mapknitterunique.setView([defaultLoc.lat,defaultLoc.lng], defaultLoc.zoom);
  }

  function saveLocation(lat, lon) {
    $.post( "/save_location.json", {'lat': lat, 'lon': lon}, function(data) {});
  }


  var token = "pk.eyJ1Ijoianl3YXJyZW4iLCJhIjoiVzVZcGg3NCJ9.BJ6ArUPuTs1JT9Ssu3K8ig";
  var baselayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/{z}/{x}/{y}?access_token=' + token, {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(Mapknitterunique);

  // Mapknitterunique.addControl(new L.Control.Fullscreen()); // to go full-screen
  Mapknitterunique.on('fullscreenchange', function () {
    if (Mapknitterunique.isFullscreen()) {
      Mapknitterunique.options.minZoom = 3 ;
     } 
    else {
      Mapknitterunique.options.minZoom = 1 ;
    }
  });

</script>
