<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.css" %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js') %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/windRoseLayer.js') %>
<%= javascript_include_tag('/lib/leaflet-fullhash/leaflet-fullHash.js') %>
<%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>

<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>

<div class="container-fluid">
<div id="mapknitter-unique" class="mx-auto" style="height: 400px; width: 100%;"></div>
  
  <div class="text-center lead-text">
  <p class="text-muted"> a Community Atlas of </p>
  <h2><%= @map.location %> </h2>
  <p> <%= link_to "@#{@map.author}", "/profile/#{@map.author}" %> </p>
  </div>
  <br> <br>
  <div class="row text-center" id="info">
      <div class="col-md-4 col-sm-5 offset-1">
          <i class="fas fa-globe"  style="color:gray;"></i>
          <h3>Make your own map </h3>
          <p>Use a kite, balloon, pole or drone to take an aerial photo and tell your own visual story of the place </p>
          <br> <br>
          <p>
            <a class="btn btn-primary btn-lg" href= 'https://store.publiclab.org/collections/mapping-kits'>
                Get a mapping kit <i class="fa fa-angle-double-right fa-fw" style="font-size:18px;color:white;"></i>
            </a>
            <a class="btn btn-primary btn-lg" href="<%= new_map_url %>">
                Add your images <i class="fa fa-plus fa-fw" style="font-size:12px;color:white;"></i>
            </a>
            </p>

               </div>
      <div class="col-md-4 col-sm-5 offset-1">
          <i class="fa fa-industry"  style="color:gray;"></i>
          <h3>Environmental data<br> near here </h3>
          <p>A range of groups publish environmental data here. Read more or share your own map data </p>
          <hr>
          <div class="text-left">
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:blue;"></i>
              <%= link_to 'Frac Tracker', 'https://www.fractracker.org', target: :_blank %>  &emsp; &emsp; Oil and gas infrastructure
              </p>
              <hr>
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:yellow;"></i>
              <%= link_to 'JusticeMap', 'https://www.justicemap.org/', target: :_blank%> &emsp; &emsp;  Race, ethnicity & demographic data
              </p>
              <hr>
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:purple;"></i>
              <%= link_to 'OdorLog.com', '#' , target: :_blank%> &emsp;  Community reports of odors
              </p>
              <hr>
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:red;"></i>
              <%= link_to 'OpenAQ Air', 'https://openaq.org', target: :_blank%> &emsp; &emsp; Quality data from various sources
              </p>
              <hr>
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:green;"></i>
              <%= link_to 'Toxic Release', 'https://www.epa.gov/toxics-release-inventory-tri-program', target: :blank %> &emsp; &nbsp; Inventory US gov't collected data from polluting industry
              </p>
              <hr>
              <p>
              <span class="fa-stack fa-2x">
                  <i class="far fa-square fa-stack-2x"></i>
                  <i class="fas fa-times fa-stack-1x"></i>
              </span>
              <i class="fa fa-circle" style="font-size:20px;color:#20B2AA;"></i>
              <%= link_to 'SkyTruth Alerts', 'https://alerts.skytruth.org/', target: :blank%> &emsp; &nbsp; Recent state-level reports of pollution
              </p>

          </div>
      </div>
  </div>
</div>
  <br><br>
<div id = "light-blue">
    <br>
    <%= render :partial => 'featured_mappers', :locals => { :mappers => @mappers } %>
</div>
  <br><br>


  <div class="container-fluid">
      <div class="row text-center lead-text" id="info">
          <div class="col-md-3 col-sm-5 offset-2">
              <span class="fa-stack" style="vertical-align: bottom; color:gray; font-size:3em;">
                  <i class="far fa-comment-alt fa-stack-2x" ></i>
                  <i class="fas fa-question fa-question fa-stack-1x" style="font-size:0.6em;" ></i>
              </span>
              <br><br>
              <h3>Ask a question</h3>
              <br>
              <p> Get help from others and share ideas with the PublicLab Community</p>
              <br>
              <p> <%= link_to "Ask a question", 'https://publiclab.org/questions/new', target: 'blank', class: "btn btn-lg btn-primary" %></p>
          </div>
          <div class="col-md-3 col-sm-5 offset-2">
              <i class="fas fa-binoculars"></i>
              <br>
              <h3>Projects/ Requests for observations</h3>
              <br>
              <p> Community observations and moitoring are a key source of environmental data. Help add to one of the [projects] here. Read more or post your oen call for input</p>
              <p> <%= link_to "Post an Observation", 'https://publiclab.org/post', target: 'blank', class: "btn btn-outline-secondary btn-lg" %></p>

          </div>
      </div>
  </div>

  <script>
      var lat = <%= @map.lat %>;
      var lon = <%= @map.lon %>;
      var Mapknitterunique = new L.Map('mapknitter-unique', {
          center: [lat, lon],
          zoom: <%= @map.zoom %>
  });

      var token = "pk.eyJ1Ijoianl3YXJyZW4iLCJhIjoiVzVZcGg3NCJ9.BJ6ArUPuTs1JT9Ssu3K8ig";
      var baselayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/{z}/{x}/{y}?access_token=' + token, {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(Mapknitterunique);

      Mapknitterunique.addControl(new L.Control.Fullscreen());
      L.marker([lat, lon]).addTo(Mapknitterunique);
  </script>
