<%= stylesheet_link_tag "/lib/leaflet/dist/leaflet.css" %>
<%= stylesheet_link_tag "/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.css" %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/LeafletEnvironmentalLayers.js') %>
<%= javascript_include_tag('/lib/leaflet-environmental-layers/dist/windRoseLayer.js') %>
<%= javascript_include_tag('/lib/leaflet-fullhash/leaflet-fullHash.js') %>
<%= javascript_include_tag('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" %>

<%= javascript_include_tag('/lib/leaflet-spin/example/spin/dist/spin.min.js') %>
<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>

<div id="mapknitter-unique" style="height: 400px; width: 100%;  margin-bottom: 1%; z-index: 5;"> </div>
<button type="button" class="btn btn-outline-info btn-sm" onClick="$('.share-link').toggle()">Embed code</button>
<div class="share-link" style="display:none;">
    <%= render :partial => 'maps/share' %>
</div>
<a href="/maps/<%= @map.slug %>">
    <button class=  "btn btn-primary" style= "position: absolute; top: 380px;left: 10px; padding: 10px; z-index: 40;" >
        <i class="fas fa-pencil-alt"> </i> Edit this map
    </button>
</a>
<div class="container-fluid">
  <div class="text-center lead-text">
  <p class="text-muted"> a Community Atlas of </p>
  <h2><%= @map.location %> </h2>
  <p> <%= link_to "@#{@map.author}", "/profile/#{@map.author}" %> </p>
  </div>
  <div class="row text-center">
      <div class="col-md-4 offset-md-4 text-block">
          <img class="mx-auto d-block" style="max-height: 75px; max-width: 75px;" src="<%= asset_path('baloon.png') %>">
          <h3>Make your own map </h3>
          <p>Use a kite, balloon, pole or drone to take an aerial photo and tell your own visual story of the place </p>
          <br> <br>
          <p>
          <a class="btn btn-primary btn-lg" href= 'https://store.publiclab.org/collections/mapping-kits'>
              Get a mapping kit<i class="fa fa-angle-double-right fa-fw" style="font-size:18px;color:white;"></i>
          </a>
          <a class="btn btn-primary btn-lg" href="<%= new_map_url %>">
              Add a new map <i class="fa fa-plus fa-fw" style="font-size:12px;color:white;"></i>
          </a>
          </p>

      </div>
  </div>
</div>
  <br><br>
<div class="light-blue" id ="all-maps">
    <br>
    <h3 class="text-center"> Nearby Maps </h3>
         <hr style="max-width: 500px;">
    <br>
    <%= render :partial => 'front_ui/maps', :locals => { :maps => @maps } %>
</div>
  <br><br>


  <div class="container-fluid">
      <div class="row text-center lead-text" id="info">
          <div class="col-md-3 col-sm-5 offset-2">
          <img class="mx-auto d-block" style="max-height: 75px; max-width: 75px;" src="<%= asset_path('quiz.png') %>">
          <br>
              <h3>Ask a question</h3>
              <br><br>
              <p> Get help from others and share ideas with the PublicLab Community</p>
              <br><br>
              <p> <%= link_to "Ask a question", 'https://publiclab.org/questions/new', target: 'blank', class: "btn btn-lg btn-primary" %></p>
          </div>
          <div class="col-md-3 col-sm-5 offset-2">
              <img class="mx-auto d-block faded" style="max-height: 75px; max-width: 75px;" src="<%= asset_path('binoculars.png') %>">
              <br>
              <h3>Projects/ Requests for observations</h3>
              <br>
              <p> Community observations and moitoring are a key source of environmental data. Help add to one of the [projects] here. Read more or post your oen call for input</p>
              <p> <%= link_to "Post an Observation", 'https://publiclab.org/post', target: 'blank', class: "btn btn-outline-secondary btn-lg" %></p>

          </div>
      </div>
  </div>

  <script>
      var lat = <%= @map.lat %>;
      var lon = <%= @map.lon %>;
      var Mapknitterunique = new L.Map('mapknitter-unique', {
          center: [lat, lon],
          zoom: <%= @map.zoom %>
  });

      var token = "pk.eyJ1Ijoianl3YXJyZW4iLCJhIjoiVzVZcGg3NCJ9.BJ6ArUPuTs1JT9Ssu3K8ig";
      var baselayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/{z}/{x}/{y}?access_token=' + token, {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(Mapknitterunique);

      Mapknitterunique.addControl(new L.Control.Fullscreen());
      L.marker([lat, lon]).addTo(Mapknitterunique);
  </script>
